/*
 * Formulaire de contact et l'agenda pour la page Contact
 */
@mixin padmar {
	padding: 0;
	margin: 0;
}

@mixin fullabsolute {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

$break-xsmall: 417px;
$break-small: 736px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == mportrait {
    @media only screen and (max-width: $break-xsmall) { @content; }
  }
  @else if $media == mobile {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == tab {
    @media only screen and (min-width: calc($break-small + 1)) and (max-width: $break-large) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: calc($break-large - 1)) { @content; }
  }
}


/*
 * Formulaire contact ( WP Contact Form 7)
 */
.wpcf7-form {
    margin: 0;
    position: relative;
    text-align: left;

    > span, > div.wpcf7-form-control-wrap, > div.submit {
        opacity: 0;
        transition: opacity ease 1s, transform ease 1s;
    }

    p {
        margin: 0 !important;
    }

    &.anim-box {
        > span {
            opacity: 1;
            transform: translateY(25px);

            &:nth-of-type(4n+1) {
                transition-delay: .8s;
            }

            &:nth-of-type(4n+2) {
                transition-delay: 1.2s;
            }

            &:nth-of-type(4n+3) {
                transition-delay: 1.6s;
            }

            &:nth-of-type(4n) {
                transition-delay: 2s;
            }
        }

        > div.wpcf7-form-control-wrap {
            opacity: 1;
            transform: translateY(25px);
            transition-delay: 2.4s;
        }

        > div.submit {
            opacity: 1;
            transform: translateY(25px);
            transition-delay: 2.8s;
        }
    }

    .submit {
        margin-top: 30px;
        position: relative;

        input[type="submit"] {
            background-color: var(--color-menu-link);
            border: 2px solid var(--color-bg-actu-footer);
            border-radius: 40px;
            color: rgba(255, 255, 255, 0.5);
            font-family: Raleway, sans-serif;
            font-size: 1em;
            font-weight: 700;
            letter-spacing: 1.4px;
            max-width: 250px;
            min-width: 150px;
            outline: 0 none;
            padding: 1em 2em;
            position: absolute;
            text-transform: uppercase;
            transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
            vertical-align: middle;
            z-index: 1;

            &:hover {
                background-color: #bec5bd;
            }            
        }
    }

    span.wpcf7-not-valid-tip {
        bottom: -50x;
        color: #f00;
        font-size: 1em;
        left: 99px;
        position: absolute;
        transition: opacity 1s ease 0s;
        width: 400px;
        z-index: -100;
        @include respond-to(tab) { bottom: -39px; }
    }

    div.wpcf7-validation-errors, 
    div.wpcf7-response-output {
        border-width: 0;
        bottom: -4em;
        left: 10em;
        font-size: 1em;
        margin: 0;
        padding: 0;
        position: absolute;
        text-align: left;
        font-weight: 700;
    }

    .ajax-loader {
        background-image:url(css/images/ajax_loader.svg) !important; 
        background-size: 32px;
        height: 32px !important;
        left:156px;
        position: absolute;
        top: 9px;
        width: 32px !important; 

        @include respond-to(mobile) { top: -3px; }
        @include respond-to(tab) { top: 1px; }
        
    }

    .wpcf7-spinner {
        &::before {
            top: 1em !important;
            left: 10em !important;
            background-color: var(--color-menu-link) !important;
        }
    }

    .wpcf7-recaptcha {
        margin: 0.5em;
        padding-top: 2em;

        ~ .wpcf7-not-valid-tip {
            z-index: 1 !important;
            top: 100%;
            left: 0 !important;
            width: 100% !important;
            padding-left: 0.5em;
        } 
    }    
}

/* iPad Pro */
.is-tab span.wpcf7-not-valid-tip {
    bottom: -39px;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0.5em;
	width: 100%;
	vertical-align: top;

    &.input--effect {
        overflow: hidden;
        padding-bottom: 5px;
        padding-top: 0.5em;
    }

    &.textarea {
        max-width: 100%;
        padding-bottom:19px;

        textarea {
            font-family: "Raleway", sans-serif !important;
            height: 250px !important;
            padding: 0 !important;
            margin: 0 !important;
            line-height: 1.5em !important;
        }
    }

    .input__field {
        position: relative;
        display: block;
        float: right;
        padding: 0.8em;
        width: 60%;
        border: none;
        border-radius: 0;
        background: #f0f0f0;
        font-weight: 400;
        -webkit-appearance: none; /* for box shadows to show on iOS */
        
        &.input__field--effect {
            background: rgba(255, 255, 255, 0.1);
            color: white;
            font-size: 1.25rem;
            padding: 0.1em 0em 0.25em;
            width: 100%;
            line-height: 5em;
        }

    }

    &.input--filled {
        .input__field--effect {
            background: rgba(255, 255, 255, 0.02);
        }

        span.wpcf7-not-valid-tip {
            opacity: 0;
        }        
    }

    .input__field:focus {outline: none;}
    .input__label {
        display: inline-block;
        padding: 0 1em;
        width: 40%;
        color: var(--color-bg-item);
        font-weight: bold;
        font-size: 1em;
        line-height:1em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: #4ca1af;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &.input__label--effect {
            position: absolute;
            top: -0.25em;
            font-size: 0.8em;
            left: 0;
            display: block;
            width: 100%;
            text-align: left;
            padding: 0em;
            pointer-events: none;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
            transition: transform 0.2s 0.15s, color 1s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
    }

    .input__label-content {
        position: relative;
        display: block;
        padding: 1.5em 0;
        width: 100%;
    }

    .graphic {
        position: absolute;
        top: 0;
        left: 0;
        fill: none;
    }

}

.input__field.input__field--effect.scroll-textarea {
    padding: 0 !important;
    height: 250px !important;
}

.input__label--effect.textarea_label {top: 0.5em;}
.graphic--effect {
	stroke: var(--color-menu-link);
	stroke-width: 0.5px;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
	transition: transform 0.7s, stroke 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.textarea .graphic--effect {stroke-width: 0.2px;}
.input__field--effect:focus + .input__label--effect,
.input--filled .input__label--effect {
	color: rgba(50, 62, 73, 0.75);
	-webkit-transform: translate3d(0, -1em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--effect:focus ~ .graphic--effect,
.input--filled .graphic--effect {
	stroke: rgba(50, 62, 73, 0.3);
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}


.scroll-textarea > .scroll-content > textarea {
	overflow: auto !important;
}

.scrollbar-dynamic > .scroll-element.scroll-x {
    display: none !important;
}

#agenda {
	padding: 0 5% 3em !important;
	margin: 0 !important;
	width: auto !important;
    position: static !important;

    .groupe-centre {
        padding-top: 3em;
    }

    .wp-block-group__inner-container {
        width: auto !important;
        max-width: none !important;

        .no-event {
            text-align: center;
            margin-bottom: 4em;
            font-weight: 600;
            color: #fff;
            font-size: 1.5em;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

    #calendrier {
        background-color: var(--color-bg-actu-footer);
        padding: 1em;
    }
}


.event {
    display: flex;
    margin: 2em 1em;
    background-color: var(--color-link);

    &:last-of-type {
        border: 0;
    }

    div {
        display: inline-block;
    }

    .ev-rdv {
        background-color: var(--color-link);
        padding: 0 1em;

        .ev-jour {
            display: block;
            color: var(--color-bg-item);
            font-weight: 600;
            font-size: 2em;
        }

        .ev-mois {
            color: var(--color-bg-item);
            font-weight: 600;
            font-size: 1em;
            text-transform: uppercase;
        }
    }

    .ev-image {
        background-size: cover;
        background-position: center center;
        min-width: 210px !important;
    }

    .ev-name {
        min-width: 700px;
        padding: 1em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: var(--color-bg-item);
        background-color: var(--color-link);
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            font-weight: 600;
            margin: 0;
            color: var(--color-menu-link) !important;
            text-transform: none;
            font-size: 1.5em;
        }

        p {
            margin-bottom: 0.1em !important;
        }

        .ev-content {
            text-transform: none;
            font-size: 0.9em;
            font-weight: normal;
            letter-spacing: 0;
            padding-right: 5px;
            display: block !important;
            font-weight: 600;

            a {
                color: var(--color-menu-link);
                &:hover {
                    color: var(--color-bg-item);
                }
            }
        }
    }

    .ev-lieu {
        min-width: 200px;

        div {
            display: block !important;
        }

        .ev-lieu-name {
            font-weight: bold;
            color: #2c6e62;
            text-transform: uppercase;
        }
    }

    .ev-date {
        padding-left: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--color-link);
        text-transform: uppercase;
        font-size: 1.5em;

        .ev-times {
            color: var(--color-bg-item);
            font-weight: 600;
            font-size: 0.875em;
            display: block;
        }

        .ev-tarif {
            font-weight: 600;
            color: var(--color-jaune);
        }
    
    }

    .ev-inscription {
        min-width: 500px;
        max-width: 500px;
        padding-left: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .wp-block-button__link {
            min-width: 177px;

            &:hover {
                background-color: var(--color-orange);
            }

            &.ev-cancel,
            &.ev-full-event {
                color: var(--color-orange);
                &:hover {
                    background-color: var(--color-gris-clair);
                    cursor: default;
                }
            }
        }
    }
}


/*
 * iPad Paysage
 */
 @media (max-width: 1080px) {
    .event .ev-name {
        min-width: 500px;
    }
}

/*
 * iPad Portrait
 */
@media (max-width: 959px) {
    .event .ev-name {
        min-width: 300px;
    }
}


/*
 * SmartPhone Paysage
 */
@media (max-width: 781px) {
    .event {
        flex-direction: column;

        > div {
            min-width: 100% !important;
        }

        .ev-rdv {
            text-align: center;

            .ev-jour,
            .ev-mois {
                display: inline-block;
                margin-right: .5em;
            }

            .ev-mois {
                font-size: 2em;
            }
        }

        .ev-image {
            height: 300px;
        }
        .ev-name {
            letter-spacing: 0;
        }
        
        .ev-date {
            padding: 0 14px 14px;
        }
    }
}

/*
 * SmartPhone Portrait
 */
@media (max-width: 450px) {
    .wpcf7-form div.wpcf7-response-output, 
    .wpcf7-form div.wpcf7-validation-errors {
        bottom: -9.5em;
        left: 0em;
    }
}