/*
 * Les évènements de l'agenda
 */

.single-event {

    button#toggle-btn {
        display: none;
    }

    .em.pixelbones {
        font-family: unset !important;
    }

    .em.em-item .em-item-meta .em-item-meta-line, 
    .em.em-list .em-item .em-item-meta .em-item-meta-line, 
    .em.em-list-widget .em-item .em-item-meta .em-item-meta-line {
        color: var(--color-text) !important;
    }

    .em.pixelbones,
    .em.pixelbones blockquote, 
    .em.pixelbones dl, 
    .em.pixelbones figure, 
    .em.pixelbones ol, 
    .em.pixelbones p, 
    .em.pixelbones pre, 
    .em.pixelbones table, 
    .em.pixelbones ul {
        color: var(--color-text) !important;
    }

    .em.pixelbones a,
    .em.em-item .em-item-meta .em-item-meta-line a, 
    .em.em-list .em-item .em-item-meta .em-item-meta-line a, 
    .em.em-list-widget .em-item .em-item-meta .em-item-meta-line a {
        color: var(--color-link) !important;
    }

    .em button.input.em-tooltip-ddm {
        color: var(--color-link) !important;
    }

    .em-add-to-calendar-tooltip .em-event-add-to-calendar-content a {
        color: unset !important;
    }

    .em-event-location {
        margin-bottom: 3em !important;
        .em-osm-map.leaflet-container {
            margin: 0 auto;
        }
        .leaflet-popup-content {
            strong {
                color: unset !important;
            }

            a {
                display: none !important;
            }
        }
    }
/*
    .em {
        --icon-calendar: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 512 512' fill='%23FFF'%3E%3Cpath d='M472 60h-8V44c0-13.234-10.766-24-24-24s-24 10.766-24 24v16H96V44c0-13.234-10.766-24-24-24S48 30.766 48 44v16h-8C17.944 60 0 77.944 0 100v352c0 22.056 17.944 40 40 40h432c22.056 0 40-17.944 40-40V100c0-22.056-17.944-40-40-40zm-40-16c0-4.411 3.589-8 8-8s8 3.589 8 8v23.981c0 .007-.001.013-.001.019s.001.013.001.019V92c0 4.411-3.589 8-8 8s-8-3.589-8-8V44zM72 36c4.411 0 8 3.589 8 8v48c0 4.411-3.589 8-8 8s-8-3.589-8-8V44c0-4.411 3.589-8 8-8zm400 440H40c-13.234 0-24-10.766-24-24V148h384c4.418 0 8-3.582 8-8s-3.582-8-8-8H16v-32c0-13.234 10.766-24 24-24h8v16c0 13.234 10.766 24 24 24s24-10.766 24-24V76h320v16c0 13.234 10.766 24 24 24s24-10.766 24-24V76h8c13.234 0 24 10.766 24 24v32h-16c-4.418 0-8 3.582-8 8s3.582 8 8 8h16v304c0 13.234-10.766 24-24 24z'/%3E%3Cpath d='M448 132h-16c-4.418 0-8 3.582-8 8s3.582 8 8 8h16c4.418 0 8-3.582 8-8s-3.582-8-8-8z'/%3E%3Cg stroke='null'%3E%3Crect width='30' height='15' x='206' y='222' rx='8'/%3E%3Crect width='30' height='15' x='277' y='222' rx='8'/%3E%3Crect width='30' height='15' x='346' y='222' rx='8'/%3E%3Crect width='30' height='15' x='416' y='222' rx='8'/%3E%3Crect width='30' height='15' x='66' y='302' rx='8'/%3E%3Crect width='30' height='15' x='136' y='302' rx='8'/%3E%3Crect width='30' height='15' x='206' y='302' rx='8'/%3E%3Crect width='30' height='15' x='276' y='302' rx='8'/%3E%3Crect width='30' height='15' x='346' y='302' rx='8'/%3E%3Crect width='30' height='15' x='416' y='302' rx='8'/%3E%3Crect width='30' height='15' x='66' y='392' rx='8'/%3E%3Crect width='30' height='15' x='136' y='392' rx='8'/%3E%3Crect width='30' height='15' x='206' y='392' rx='8'/%3E%3Crect width='30' height='15' x='276' y='392' rx='8'/%3E%3Crect width='30' height='15' x='346' y='392' rx='8'/%3E%3C/g%3E%3C/svg%3E") !important;
        --icon-location: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 54.757 54.757' fill='%23FFF'%3E%3Cpath d='M27.557 12c-3.859 0-7 3.141-7 7s3.141 7 7 7 7-3.141 7-7-3.141-7-7-7zm0 12c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z'/%3E%3Cpath d='M40.94 5.617C37.318 1.995 32.502 0 27.38 0c-5.123 0-9.938 1.995-13.56 5.617-6.703 6.702-7.536 19.312-1.804 26.952L27.38 54.757 42.721 32.6c5.755-7.671 4.922-20.281-1.781-26.983zm.159 25.814L27.38 51.243 13.639 31.4C8.44 24.468 9.185 13.08 15.235 7.031 18.479 3.787 22.792 2 27.38 2s8.901 1.787 12.146 5.031c6.05 6.049 6.795 17.437 1.573 24.4z'/%3E%3C/svg%3E") !important;
        --icon-clock: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 60 60' fill='%23FFF'%3E%3Cpath d='M30 0C13.458 0 0 13.458 0 30s13.458 30 30 30 30-13.458 30-30S46.542 0 30 0zm0 58C14.561 58 2 45.439 2 30S14.561 2 30 2s28 12.561 28 28-12.561 28-28 28z'/%3E%3Cpath d='M31 26.021V15.879c0-.553-.448-1-1-1s-1 .447-1 1v10.142c-1.399.364-2.494 1.459-2.858 2.858H19c-.552 0-1 .447-1 1s.448 1 1 1h7.142c.447 1.72 2 3 3.858 3 2.206 0 4-1.794 4-4 0-1.859-1.28-3.411-3-3.858zm-1 5.858c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zM30 9.879c.552 0 1-.447 1-1v-1c0-.553-.448-1-1-1s-1 .447-1 1v1c0 .553.448 1 1 1zM30 49.879c-.552 0-1 .447-1 1v1c0 .553.448 1 1 1s1-.447 1-1v-1c0-.553-.448-1-1-1zM52 28.879h-1c-.552 0-1 .447-1 1s.448 1 1 1h1c.552 0 1-.447 1-1s-.448-1-1-1zM9 28.879H8c-.552 0-1 .447-1 1s.448 1 1 1h1c.552 0 1-.447 1-1s-.448-1-1-1zM44.849 13.615l-.707.707c-.391.391-.391 1.023 0 1.414.195.195.451.293.707.293s.512-.098.707-.293l.707-.707c.391-.391.391-1.023 0-1.414s-1.023-.39-1.414 0zM14.444 44.021l-.707.707c-.391.391-.391 1.023 0 1.414.195.195.451.293.707.293s.512-.098.707-.293l.707-.707c.391-.391.391-1.023 0-1.414s-1.024-.39-1.414 0zM45.556 44.021c-.391-.391-1.023-.391-1.414 0s-.391 1.023 0 1.414l.707.707c.195.195.451.293.707.293s.512-.098.707-.293c.391-.391.391-1.023 0-1.414l-.707-.707zM15.151 13.615c-.391-.391-1.023-.391-1.414 0s-.391 1.023 0 1.414l.707.707c.195.195.451.293.707.293s.512-.098.707-.293c.391-.391.391-1.023 0-1.414l-.707-.707z'/%3E%3C/svg%3E") !important;
    }
*/
}



