/* hebrew */
@font-face {
    font-family: 'Suez One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(css/fonts/taiJGmd_EZ6rqscQgOFMmouQ-A.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
    font-family: 'Suez One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(css/fonts/taiJGmd_EZ6rqscQgOFAmouQ-A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Suez One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(css/fonts/taiJGmd_EZ6rqscQgOFOmos.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*
@font-face {
    font-family:"nocturne-serif";
    src:url("css/fonts/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),
    url("css/fonts/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),
    url("css/fonts/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}
*/