/*
 * Balise spectacle = container des spectacles ou des ateliers pour les pages du même nom
 * Avec effet de translation du côté droit vers le côté gauche
 *  cf. retrieve_spectacles ou retrieve_ateliers
 */
spectacle {
	position: relative;
	margin: 0 auto 4em;
	overflow-x: hidden;
    display: block;

	.dual {
		margin: 0 auto;
		position: relative;
		min-height: 500px;
		overflow: hidden;

		.dual__inner {
			position: absolute;
			width: 100%;
			height: 100%;	
			left: 0;

			.block-revealer__content {
				opacity: 0;
			}

			.dual__half {
				position: absolute;
				height: 100%;
				width: 51%;
				right: 0;
				background: no-repeat 50% 0%;
				background-size: cover;
			}

		}

		.dual__content {
			position: absolute;
			left: 0;
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: start;
			padding: 1.5em 2.5em;
			font-size: 0.9em;
			line-height: 1.4;
			opacity: 0;
			transform: translate3d(60px,0,0);
			transition: opacity 0.55s 0.4s, transform 0.55s 0.4s;

			.entry-title {
				margin: 0;
				text-transform: uppercase;
                color: var(--color-menu-link);
			}

			p {
				margin-bottom: 0.5em;
				font-size: 0.9em;
			}

			ul {
				margin-left: 0;

				li {
					margin-bottom: 1em;
				}
			}

			&.dual__content--show {
				opacity: 1;
				pointer-events: visible;
				transform: translate3d(0,0,0);
			}
		}
	}
	.block-revealer__element {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000;
		pointer-events: none;
		opacity: 0;
	}        
}


/*
 * SmartPhone Paysage
 */
 @media (max-width: 781px) {
    spectacle .dual .dual__content {
        padding: 1.5em 1.5em !important;
        font-size: .8em !important;
    }
    
    .page:not(.home) .content .content__text p {
        margin: 0.5rem 0 !important;
    }
}

/*
 * SmartPhone Portrait
 */
 @media (max-width: 450px) {
    spectacle .dual {
        min-height: 1000px;
    }

    spectacle .dual .dual__inner {
        width: 100%;
        height: 50%;
        left: 0;
        top: 0;
    }

    spectacle .dual .dual__inner .dual__half {
        width: 100%;
        right: 0;
        left: 0;
        background: no-repeat 50% 50%;
        background-size: cover;
        z-index: 1000;
    }

    spectacle .dual .dual__content {
        background-color: rgb(45, 44, 44);
        width: 100%;
        height: 100%;
        top: 50%;
        font-size: 1em !important;
    }

    .page:not(.home) .content .content__text p {
        text-align: left !important;
    }
}
