* {
  box-sizing: border-box;

  &::after, &::before {
    box-sizing: border-box;
  }
}

html, body {
    margin: 0;
    padding: 0;
//    overflow-x: hidden;
}

.nav {
  list-style: outside none none;
  padding: 0;
  margin: 0;
}

