@charset "UTF-8";
/*
Theme Name:  maia
Theme URI: https://www.babel-web.info/
Description: Ma├»a CHAUVIER
Author: Olivier SPADI
Author URI: https://www.babel-web.info/
Version: 1.0.0
*/
.search .main-navigation #toggle-btn {
  display: none;
}
.search .content {
  padding-top: 5em;
  max-width: 80vw;
  margin: 0 auto;
  min-height: calc(100vh - 58px);
}
.search .content .page-title {
  font-size: 1.5em !important;
  letter-spacing: 6px;
  text-align: center;
  margin-bottom: 2em;
}
.search .content .search__article {
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
  margin: 1em 0 5em;
}
.search .content .search__article .heading {
  background-color: var(--color-link-hover);
  margin: 0;
  padding: 1em;
  text-align: right;
}
.search .content .search__article .content__text {
  display: flex;
  background-color: var(--color-bg-actu-footer);
}
.search .content .search__article .content__text .thumbnail {
  max-width: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.search .content .search__article .content__text .thumbnail a {
  display: block;
  width: 100%;
  height: 100%;
}
.search .content .search__article .content__text .content__excerpt {
  padding: 1em;
  width: 100%;
}
.search .content .search__article .content__text .content__excerpt h2 {
  margin-top: 0;
}

/*
 * SmartPhone Paysage
 */
@media (max-width: 781px) {
  #site-navigation #primary-menu li.astm-search-menu a {
    padding: 0 1em;
  }
}
/*
 * SmartPhone Portrait
 */
@media (max-width: 450px) {
  .search .content .search__article .content__text {
    flex-direction: column;
  }
  .search .content .search__article .content__text .thumbnail {
    height: 300px;
  }
}

/*# sourceMappingURL=search.css.map */
