/*
Theme Name:  maia
Theme URI: https://www.babel-web.info/
Description: Maïa CHAUVIER
Author: Olivier SPADI
Author URI: https://www.babel-web.info/
Version: 1.0.0
*/
.search {

    .main-navigation {
        #toggle-btn {
            display: none;
        }
    }

    .content {
        padding-top: 5em;
        max-width: 80vw;
        margin: 0 auto;
        min-height: calc(100vh - 58px);

        .page-title {
            font-size: 1.5em !important;
            letter-spacing: 6px;
            text-align: center;
            margin-bottom: 2em;
        }

        .search__article {
            display: flex;
            flex-direction: column;
            font-size: 0.75em;
            margin: 1em 0 5em;

            .heading {
                background-color: var(--color-link-hover);
                margin: 0;
                padding: 1em;
                text-align: right;
            }

            .content__text {
                display: flex;
                background-color: var(--color-bg-actu-footer);

                .thumbnail {
                    max-width: 300px;
                    width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;

                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }

                .content__excerpt {
                    padding: 1em;
                    width: 100%;

                    h2 {
                        margin-top: 0;
                    }
                }
            }            
        }
    }
}


/*
 * SmartPhone Paysage
 */
 @media (max-width: 781px) {
    #site-navigation #primary-menu li.astm-search-menu a {
        padding: 0 1em;
    }
}


/*
 * SmartPhone Portrait
 */
 @media (max-width: 450px) {
    .search .content .search__article .content__text {
        flex-direction: column;

        .thumbnail {
            height: 300px;
        }
    }
}