/*
Theme Name:  maia
Theme URI: https://www.babel-web.info/
Description: Maïa CHAUVIER
Author: Olivier SPADI
Author URI: https://www.babel-web.info/
Version: 1.0.0
*/
@import 'fonts';
@import 'reset';

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 14px;
}

/*
body, html {
    scroll-behavior: smooth;
    scroll-padding-top: 1em;
}
*/

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}

body {
	margin: 0;
    --color-deco: #fff;         /* ligne menu page d'accueil */
    --thickness-deco: 2px;

	--color-text: #e5e3e0;
	--color-link: #e5e3e0;
	--color-link-hover: #fff;
	--color-title: #e88e41;

    --color-bg: #000;
	--color-bg-item: #282b27;
    --color-bg-actu-footer: #faedba;

    --color-menu-link: #e88e41;
    --color-menu-link-hover: #ffffff;

	--font-menu-link: latienne-pro, serif;
	--font-weight-menu-link: 700;
	--font-size-menu-link: 5vw;
	--clip-1: polygon(50% 0%, 20% 100%, 80% 100%);

    --max-content: 850px;
    --max-wrap: 1000px;

	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: soleil, Futura, "Trebuchet MS", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h1 {
    text-transform: uppercase;
    font-size: 4em !important;
    letter-spacing: 20px;
    text-shadow: 1px 1px 1px black;
    font-weight: 700;
	--font-menu-link: poynter-oldstyle-display, serif;
    font-family: 'Suez One', serif;
    color: white !important;
}

h2 {
	text-transform: uppercase;
    font-family: 'Suez One', serif;
	font-weight: 100;
	letter-spacing: 2px;
	font-size: 2em;
}

strong {
  font-weight: 700;
  color: var(--color-deco);
}

.wp-block-cover {
    overflow: hidden !important;
}

p {
    text-align: justify !important;

    .has-text-align-center {
        text-align: center !important;

        a {
            font-weight: 700;
            font-size: 1.5em;
            color: var(--color-menu-link) !important;
        }
    }
}
a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;

    &:hover,
    &:focus {
        color: var(--color-link-hover);
        outline: none;
    }
}


main {
	position: relative;
}


.wp-embed-featured-image {
    &.square {
        float: none !important;
        max-width: 100% !important;
        margin-right: 0 !important;
    }
}


.aligncenter {
    text-align: center;
}

.wp-block-file {
    .wp-block-file__button {
        font-weight: 700;
        font-size: 1em;
        background-color: var(--color-menu-link);
        text-transform: uppercase;
        text-decoration: none !important;
        border-radius: 1em !important;
        color: rgba(255, 255, 255, 0.5) !important;
        border: 2px solid var(--color-bg-actu-footer) !important;

        &:hover {
            background-color: #bec5bd !important;
        }
    }
}

.wp-block-embed {
    &.is-type-video {
        position: relative;

        &.wp-embed-aspect-21-9,
        &.wp-embed-aspect-18-9,
        &.wp-embed-aspect-16-9,
        &.wp-embed-aspect-4-3,
        &.wp-embed-aspect-1-1,
        &.wp-embed-aspect-9-16,
        &.wp-embed-aspect-1-2 {
            position: relative;
    
            &:before {
                content: "";
                display: block;
                padding-top: 50%; // Default to 2:1 aspect ratio.
            }
        }
    
        &.wp-embed-aspect-21-9:before {
            padding-top: 42.85%; // 9 / 21 * 100
        }
    
        &.wp-embed-aspect-18-9:before {
            padding-top: 50%; // 9 / 18 * 100
        }
    
        &.wp-embed-aspect-16-9:before {
            padding-top: 56.25%; // 9 / 16 * 100
        }
    
        &.wp-embed-aspect-4-3:before {
            padding-top: 75%; // 3 / 4 * 100
        }
    
        &.wp-embed-aspect-1-1:before {
            padding-top: 100%; // 1 / 1 * 100
        }
    
        &.wp-embed-aspect-9-6:before {
            padding-top: 66.66%; // 6 / 9 * 100
        }
    
        &.wp-embed-aspect-1-2:before {
            padding-top: 200%; // 2 / 1 * 100
        }
    
        .wp-block-embed__wrapper {
            position: initial;
    
            iframe {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
        }    
    }

    .wp-block-embed__wrapper {
        iframe {
            width: 100%;
        }
    }    
}

.wp-block-table.is-style-stripes {
    border-bottom-width: 0 !important;
}

.inter-menu {
    p {
        text-align: center !important;

        a {
            color: var(--color-menu-link);
            font-weight: 600;
            font-size: 1.5em;

            &:hover {
                color: var(--color-link);
            }
        }
    }
}

/*
 *  La page d'accueil
 */
.home {
    .frame {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 2fr 1fr .2fr;
        grid-template-areas: 'title contact sound';
        padding: 3rem 5vw;
        position: relative;
        z-index: 1000;
    
        .frame__pagetitle {
            display: block !important;
            margin: 0 !important;
            grid-area: title;
            font-size: 1rem;
            margin: 0 0 1rem;
            font-weight: 600;
            color: var(--color-title);
        }
    
        .frame__pagecontact {
            grid-area: contact;
            text-align: right;
    
            a {
                color: var(--color-menu-link);
                font-family: var(--font-menu-link);
                font-size: 2em;

                &:hover {
                    color: var(--color-deco);
                }
            }
        }
        .button {
            -moz-appearance: none;
            -webkit-appearance: none;
            background: none;
            border: 0;
            padding: 0;
            margin: 0;
            color: var(--color-menu-link);
            pointer-events: auto;
            cursor: pointer;
            grid-area: sound;
            margin-top: -3em;
            display: none;
    
            &:hover,
            &:focus {
                outline: none;
                color: var(--color-link-hover);
            }
            
            .toggle__icon {
                position: relative;
                display: block;
                width: 1.6rem;
                height: 1.6rem;
                margin: 0 auto;
                fill: currentColor;
    
                &.toggle__icon--off {
                    display: none;
                }
            }
            
            &.toggle--on {
                .toggle__icon--on {
                    display: none;
                }
    
                .toggle__icon--off {
                    display: block;
                }
            }
        }    
    }

    .items {
        padding: 2rem;
        position: relative;
        z-index: 100;

        .menu {
            display: flex;
            flex-direction: column;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            .menu__item {
                display: inline-block;
                text-align: left;
                margin: 2vh 0;

                .menu__item-link {
                    color: var(--color-menu-link);
                    font-family: var(--font-menu-link);
                    font-weight: var(--font-weight-menu-link);
                    font-size: 3rem;
                    line-height: 1;
                    display: block;
                    cursor: pointer;
                /*	transition: color 0.2s; */

                    &:hover,
                    &:focus {
                        color: var(--color-menu-link-hover);
                    }
                
                }
            }
        }
    }

    .screens, 
    .screen__item, 
    .screen {
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        min-height: 100vh;
    }
    
    .screen__item {
        opacity: 0;
        background: var(--color-bg-item);
        z-index: 1;

        &:first-child {
            opacity: 1;
            z-index: 100;
        }
        .screen {
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            background-image: var(--bg-img);
            will-change: opacity;
        }
        .screen--full {
            opacity: 0.6;
            will-change: transform;
        }
        
        .screen--clip-1 {
            clip-path: var(--clip-1);
        }
    }
    
    #page {
        height: 100vh;
    }

    footer#colophon {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        z-index: 100;
        font-weight: 100;
        font-family: arial;
        opacity: 0.4;
    }

    .content {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 2000;
        pointer-events: none;
    }    
}

/*
 *  Les pages 
 *      Spectacles
 *      Ateliers
 *      Paroles Nomades
 *      Cheminement
 *      Contact
 */
.page {
    &:not(.home) {
        background-color: #bec5bd;
        opacity: 0;
    
        &.oh {
            opacity: 1;
        }
    
        .content__back {
            opacity: 1;
        }
    
        .content__article--open {
            overflow-y: hidden;
        }

        /*
        * Preview Content Transition
        */
        .heading {
            color: var(--color-menu-link);
            font-family: var(--font-menu-link);
            font-weight: var(--font-weight-menu-link);
            font-size: 3rem;
            line-height: 1.1;
            .splitting  {
                .word, 
                .char {
                    display: flex;
                }
            }
            .char-wrap {
                display: inline-block;
                position: relative;
                overflow: hidden;
            }
            
            .char {
                display: inline-block;
                will-change: transform;
            }
            
            .whitespace {
                padding: 0 10px;
            }
            
            > span {
                display: flex;

                &:first-child {
                    font-size: 14vw;
                    font-size: clamp(2rem, 14vw, 9rem);
                }

                &:nth-child(2) {
                    margin-top: -4.5vw;
                    text-transform: lowercase;
                    color: var(--color-link);
                    padding-left: 0.5em;
                }
            }
            
        }
                
        .content {
            color: #333;
            font-size: 1.2em;

            .heading {
                margin-bottom: 5rem;
                font-size: 10vw;
                font-size: clamp(2rem, 10vw, 6rem);

                > span:first-child {
                    font-size: 14vw;
                    font-size: clamp(2rem, 14vw, 10rem);
                }
            }

            .content__text {
                padding: 0;
                margin: 0 auto;
                max-width: var(--max-content);
//                min-width: 650px;

                p {
                    margin: .75em 0;
                }

                img {
                    max-width: 100%;
                    margin: 4rem auto;
                    display: block;
                    border-radius: 50%;
                }
            }

            .content__article {
                height: 0;
                overflow: hidden;
        
                .heading {
                    text-align: center;
                }
            }
            
            .content__article--open {
                pointer-events: auto;
                padding: 0 0 7vh;
                height: 100%;
                overflow-y: hidden;
                background-color: #bec5bd;
            }
        
        }
    
        .content__back {
            position: absolute;
            top: 2rem;
            left: 2rem;
            opacity: 0;
            cursor: pointer;
        }

        .unbutton {
            background: none;
            border: 0;
            padding: 0;
            margin: 0;
            font: inherit;

            &:focus {
                outline: none;
            }
        }

        .content__article--open ~ .content__back {
            pointer-events: auto;
        }

        .menu_cat {
            display: block;
            padding: 0;
            text-align: center;

            .cat-item {
                display: inline-block;
                color: var(--color-link);
                background-color: var(--color-menu-link);
                padding: 1em;
                text-transform: uppercase;
                font-weight: 600;
                border-radius: 1em;
                margin: 0.5em;
        
                a {
                    color: var(--color-bg-item) !important;
                    text-decoration: none !important;
        
                    &:hover {
                        color: var(--color-bg-actu-footer) !important;
                    }
                }
            }
        }
    }
}

/*
 *  Pages Spectacles & Ateliers
 *      Container qui regroupe les spectacles et les ateliers (avec effet d'apparition sur le côté)
 */
 .maia-spectacles-container {
    position: relative;
    width: var(--max-wrap);
    left: calc((var(--max-content) - var(--max-wrap))/ 2);

    .maia-spectacle-entry {
        margin-bottom: 3em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .maia-spectacle-thumb {
            width: 300px !important;
        }

        .maia-spectacle-text {
            margin-left: 1em !important;
        }

        a {
            text-decoration: none !important;
        }
        
        h4 {
            margin-top: 0.5em !important;
            margin-left: 0em !important;
        }

        .wp-post-image {
            border-radius: 0 !important;
            margin: 0 !important;
            max-width: none !important;
        }
    }
}


/*
 *  Page Paroles Nomades
 *      Container qui regroupe les articles du blog
 */
.actus-wrap {
    column-count: 2;
    column-gap: 2em;
    column-fill: balance;
    max-width: var(--max-wrap);
    position: relative;
    left: calc((var(--max-content) - var(--max-wrap))/2);
    width: 100vw;

    article.actu {
        color: #fff;
        background-color: var(--color-bg-item);
        margin-bottom: 2em;
        display: inline-block;
        width: 100%;
    
        img, a img {
            width: 100% !important;
            border-radius: 0 !important;
            margin: 0 !important;
            height: auto;
        }
    
        .actu-content-wrap {
            padding: 0 2em;
    
            h2 {
                font-size: 1.9em !important;
                letter-spacing: 1px;
                text-transform: uppercase;
                margin: 20px 0 !important;
                text-align: center;
    
                a {
                    color: var(--color-menu-link) !important;
                    text-decoration: none !important;
                }
            }
            .excerpt {
                font-size: 0.9em !important;
                padding-bottom: 1em;
            }
    
        }
        .actu-footer-wrap {
            display: flex;
    
            .actu-suite {
                padding: 2em;
                background-color: var(--color-menu-link);
                width: 50%;
                text-align: center;
    
                &:hover {
                    background-color: var(--color-deco) !important;
                    a {
                        color: var(--color-menu-link) !important;
                    }
                }
    
                a {
                    text-transform: uppercase;
                    text-decoration: none !important;
                    color: var(--color-menu-link-hover) !important;
                }
            }
    
            .actu-category {
                padding: 2em;
                color: var(--color-actu-tags);
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--color-bg-actu-footer);
                color: var(--color-bg-item);
                text-transform: uppercase;
                font-size: 0.75em;
                font-weight: 700;

                a {
                    color: var(--color-menu-link) !important;
                    text-decoration: none !important;

                    &:hover {
                        color: var(--color-menu-link-hover) !important;
                    }
                }
            }
        }
    }
}

button.next-blog {
    min-width: 177px;
    background-color: var(--color-link);
    color: var(--color-bg-item);
    border: 1px solid var(--color-menu-link);
    padding: 1em;
    border-radius: 0.5em;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background-color: var(--color-menu-link);
    }
}

/*
 *  Page Cheminement
 */
 .page-cheminement {
    #chemin-spectacle,
    #chemin-atelier {
        position: relative;
        width: 75vw;
//        left: -12.5vw;
        left: calc((var(--max-content) - 75vw)/ 2);

        td {
            border: 1px solid var(--color-menu-link) !important;
    
            a {
                color: var(--color-menu-link) !important;
            }
    
            strong {
                color: var(--color-bg-item) !important;
            }
        }
    }
}


/*
 *  CPT Atelier
 *  CPT Spectacle
 *  Les archives d'une catégorie
 */
.single-atelier,
.single-spectacle,
.category {
    button#toggle-btn {
        display: none;
    }
}

/*
 *  Article Paroles Nomades (Blog)
 */
.single-post {
    canvas {
        position: absolute;
        left: 50%;
        top: 275px;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        z-index: -1;
    }    

    .actu-category {
        background-color: var(--color-menu-link);
        padding: 1em;
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        border-radius: 1em;

        a {
            color: var(--color-bg-item) !important;
            text-decoration: none !important;

            &:hover {
                color: var(--color-bg-actu-footer) !important;
            }
        }
    }

    .button {
        -moz-appearance: none;
        -webkit-appearance: none;
        background: none;
        border: 0;
        padding: 0;
        margin: 0;
        color: var(--color-link);
        cursor: pointer;
        grid-area: sound;

        &:hover,
        &:focus {
            outline: none;
            color: var(--color-link-hover);
        }
        
        .toggle__icon {
            position: relative;
            display: block;
            width: 1.6rem;
            height: 1.6rem;
            margin: 0 auto;
            fill: currentColor;

            &.toggle__icon--off {
                display: none;
            }
        }
        
        &.toggle--on {
            .toggle__icon--on {
                display: none;
            }

            .toggle__icon--off {
                display: block;
            }
        }
    }
    
    .start-anim {
        .toggle {
            pointer-events: auto;
        }

        .button--box {
            pointer-events: none;
        } 
    }
    
    .content__breakout {
        height: 20vh !important;
    }

    .svgtext {
        z-index: 100;
    }
}

/*
 *  Texte qui ondule
 */
.svgtext {
	flex: none;
	position: relative;
	left: calc(-50vw + var(--content-width)/2 );
	width: 100vw !important;

    text {
        fill: var(--color-title) !important;
        font-family: nocturne-serif, serif;
        font-weight: 600;
        font-size: 3em !important;	
        color: var(--color-title) !important;
    }

    textPath {
        text-shadow: 2px 2px 0 #111;
    }

    &:nth-of-type(2) {
        text  {
            font-size: 1em !important;	
        }
    }
}


/*
 *  La navigation bas de page
 */
 #navigation-post {
    display: flex;
    margin: 1em 12px 0 0;

    .nav-previous, 
    .nav-next {
        width: 50%;

        .meta-nav {
            padding-left: 1em;
        }

        a {
            display: flex;
            align-items: center;
            pointer-events: auto;
            font-size: 1.5em;
            font-family: var(--font-menu-link);
            color: var(--color-link) !important;
            text-decoration: none !important;
        }
    }

    .nav-next {
        text-align: right;
        display: flex;
        justify-content: flex-end;

        .meta-nav {
            padding-right: 1em;
            padding-left: 0;
        }
    }

    .nav-prev-thumb, 
    .nav-next-thumb {
        background-size: contain;
        background-repeat: no-repeat;
        min-width: 100px !important;
        height: 100px;
        display: inline-block;
    }
}




/*
 * Footer de la page
 */
footer#colophon {
    text-align: center;
    font-size: 0.85em;
    color: #000;
    background-color: var(--color-deco);
    padding: 1em 0;
    opacity: 0.4;

    a {
        color: var(--color-menu-link);
        &:hover {
            color: var(--color-bg-actu-footer);
            background-color: var(--color-menu-link);
        }
    }
}

/*
 * Bouton OK pour la notice des cookies
 */
#cookie-notice {
    a.cn-button {
        color: var(--color-deco) !important;
        text-decoration: none !important;
    }
}



/*
 * Responsive Design
 */
@media screen and (min-width: 53em) {
	body {
        &.home {
            .site {
                overflow: hidden;
            }

            .items {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                z-index: 100;

                .menu {
                    margin: 0 auto;
                    max-width: 74vw;
                    text-align: center;
                    display: block;

                    .menu__item {
                        margin: 3vh 3vw;

                        .menu__link {
                            padding-bottom: 0rem;
                            margin-bottom: 0.5rem;
                            font-weight: var(--font-weight-menu);
                            position: relative;
                            line-height: 1;
                            text-transform: var(--ttransfrom-menu);
                            -webkit-touch-callout: none;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;

                            &:hover {
                                color: var(--color-menu-hover);
                                -webkit-text-fill-color: var(--color-menu-hover);
                                text-fill-color: var(--color-menu-hover);

                                .menu__link-deco {
                                    opacity: 1;
                                }
                            }
                            
                            .menu__link-inner {
                                display: block;
                                position: relative;
                                outline: 100px solid transparent;
                            }
                            
                            .menu__link-deco {
                                outline: 120px solid transparent;
                                opacity: 0;
                                position: absolute;
                                pointer-events: none;
                            }
                        }

                        .menu__link--outline {
                            -webkit-text-stroke: var(--stroke-width-menu) var(--stroke-color-menu);
                            text-stroke: var(--stroke-width-menu) var(--stroke-color-menu);
                            -webkit-text-fill-color: var(--stroke-fill-menu);
                            text-fill-color: var(--stroke-fill-menu);
                        }
                        
                        .menu__item-link {
                            font-size: var(--font-size-menu-link);
                        }

                    }
                    &.menu--line {
                        .menu__link-deco {
                            bottom: 0;
                            left: 0;
                            height: var(--thickness-deco); 
                            width: 100%;
                            background: var(--color-deco);
                        }
                    }
                                                
                }
            }

            .frame {
                position: fixed;
                text-align: left;
                z-index: 1000;
                top: 0;
                left: 0;
                display: grid;
                align-content: space-between;
                width: 100%;
                max-width: none;
                height: 100vh;
                padding: 3rem 4rem;
                pointer-events: none;
                grid-template-columns: 2fr 1fr .2fr;
                grid-template-rows: auto auto auto;
                grid-template-areas: 'pagetitle contact sound';

                .frame__pagetitle {
                    grid-area: pagetitle;
                    justify-self: center;
                }

                a {
                    pointer-events: auto;
                }
            }
        
        }
 	}
}

/*
 * 
 */
@media (max-width: 1280px) {
}

@media (max-width: 1185px) {
}

/*
 * iPad Paysage
 */
@media (max-width: 1080px) {
    .page-cheminement #chemin-atelier, 
    .page-cheminement #chemin-spectacle {
        width: 95vw;
        left: calc((var(--max-content) - 95vw)/ 2);
    }
}


/*
 * iPad Portrait
 */
@media (max-width: 959px) {
    body {
        --max-wrap: 750px;        
        --max-content: 750px;
    }
     
    .page:not(.home) .content .content__article--open {
        padding: 0 calc(1em + 17px) 7vh 1em;
    }
    .maia-spectacles-container {
        max-width: 95vw;
        left: calc(95vw - var(--max-wrap)) / 2;
    }

    .actus-wrap {
        left: calc((100% - var(--max-wrap))/ 2);
    }

    .single-post canvas {
        max-height: 350px !important;
    }
}


/*
 * SmartPhone Paysage
 */
@media (max-width: 781px) {
    body {
        --max-wrap: 600px;        
        --max-content: 600px;
    }

    .home .frame {
        padding: 1rem 3vw;
    }

    h1 {
        letter-spacing: 5px;
    }

    .home footer#colophon {
        margin-top: -17px;
        background-color: #000;
        z-index: 100;
        position: relative;
        margin-bottom: 0;
    }

    .wp-block-columns {
        padding: 0.5em 0.5em;
        gap: 0;

        img {
            max-width: 25% !important;
        }

        p {
            margin: 0;
            text-align: center !important;
        }
    }

    .wp-block-cover {
        max-width: 75% !important;
        margin: 0 auto
    }

    .actus-wrap {
        column-count: 1;
    }

    .single-post canvas {
        top: 175px;
    }

    .page-cheminement {
        #chemin-atelier, 
        #chemin-spectacle {
            left: calc((var(--max-content) - 98vw)/ 2);
        }
    }

    .page-id-341 .content .content__article--open {
        padding-bottom: 20vh !important;
    }

    #navigation-post {
        flex-direction: column;
        .nav-next, 
        .nav-previous {
            width: 100%;
        }
    }

    .svgtext {
        
        text {
            font-size: 4em !important;
        }
        &:nth-of-type(2) {
            text {
                font-size: 3em !important;
            }
        }
    }
}

/*
 * SmartPhone Portrait
 */
@media (max-width: 450px) {
    body {
        font-size: 12px;
        --max-wrap: 310px;        
        --max-content: 310px;
    }

    .home .frame {
        display: block;
    }

    .home footer#colophon {
        margin-top: 23px;
    }

    .content {
        .content__intro .content__intro-imgWrap .content__intro-img {
            width: 100vw;
        }

        .content__body {
            padding: 3em 1em !important;
            > p {
                margin: 0 !important;
            }

            .wp-block-quote {
                margin: 1em;
            }
        }
    }

    .single-post canvas {
        top: 240px;
        width: 100vw !important;
        height: calc(100vw*3/2) !important;
    }    

    .content .content__body {
        padding-top: 9em !important;
    }

    .single-post .actu-category {
        z-index: 100;
        position: relative;
    }

    .page-cheminement #chemin-atelier, 
    .page-cheminement #chemin-spectacle {
        padding-left: 20px;
    }

}