@charset "UTF-8";
/*
Theme Name:  maia
Theme URI: https://www.babel-web.info/
Description: Ma├»a CHAUVIER
Author: Olivier SPADI
Author URI: https://www.babel-web.info/
Version: 1.0.0
*/
/* hebrew */
@font-face {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(css/fonts/taiJGmd_EZ6rqscQgOFMmouQ-A.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(css/fonts/taiJGmd_EZ6rqscQgOFAmouQ-A.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(css/fonts/taiJGmd_EZ6rqscQgOFOmos.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*
@font-face {
    font-family:"nocturne-serif";
    src:url("css/fonts/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),
    url("css/fonts/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),
    url("css/fonts/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}
*/
* {
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.nav {
  list-style: outside none none;
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

/*
body, html {
    scroll-behavior: smooth;
    scroll-padding-top: 1em;
}
*/
.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

body {
  margin: 0;
  --color-deco: #fff;
  /* ligne menu page d'accueil */
  --thickness-deco: 2px;
  --color-text: #e5e3e0;
  --color-link: #e5e3e0;
  --color-link-hover: #fff;
  --color-title: #e88e41;
  --color-bg: #000;
  --color-bg-item: #282b27;
  --color-bg-actu-footer: #faedba;
  --color-menu-link: #e88e41;
  --color-menu-link-hover: #ffffff;
  --font-menu-link: latienne-pro, serif;
  --font-weight-menu-link: 700;
  --font-size-menu-link: 5vw;
  --clip-1: polygon(50% 0%, 20% 100%, 80% 100%);
  --max-content: 850px;
  --max-wrap: 1000px;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: soleil, Futura, "Trebuchet MS", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-transform: uppercase;
  font-size: 4em !important;
  letter-spacing: 20px;
  text-shadow: 1px 1px 1px black;
  font-weight: 700;
  --font-menu-link: poynter-oldstyle-display, serif;
  font-family: 'Suez One', serif;
  color: white !important;
}

h2 {
  text-transform: uppercase;
  font-family: 'Suez One', serif;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 2em;
}

strong {
  font-weight: 700;
  color: var(--color-deco);
}

.wp-block-cover {
  overflow: hidden !important;
}

p {
  text-align: justify !important;
}
p .has-text-align-center {
  text-align: center !important;
}
p .has-text-align-center a {
  font-weight: 700;
  font-size: 1.5em;
  color: var(--color-menu-link) !important;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}
a:hover, a:focus {
  color: var(--color-link-hover);
  outline: none;
}

main {
  position: relative;
}

.wp-embed-featured-image.square {
  float: none !important;
  max-width: 100% !important;
  margin-right: 0 !important;
}

.aligncenter {
  text-align: center;
}

.wp-block-file .wp-block-file__button {
  font-weight: 700;
  font-size: 1em;
  background-color: var(--color-menu-link);
  text-transform: uppercase;
  text-decoration: none !important;
  border-radius: 1em !important;
  color: rgba(255, 255, 255, 0.5) !important;
  border: 2px solid var(--color-bg-actu-footer) !important;
}
.wp-block-file .wp-block-file__button:hover {
  background-color: #bec5bd !important;
}

.wp-block-embed.is-type-video {
  position: relative;
}
.wp-block-embed.is-type-video.wp-embed-aspect-21-9, .wp-block-embed.is-type-video.wp-embed-aspect-18-9, .wp-block-embed.is-type-video.wp-embed-aspect-16-9, .wp-block-embed.is-type-video.wp-embed-aspect-4-3, .wp-block-embed.is-type-video.wp-embed-aspect-1-1, .wp-block-embed.is-type-video.wp-embed-aspect-9-16, .wp-block-embed.is-type-video.wp-embed-aspect-1-2 {
  position: relative;
}
.wp-block-embed.is-type-video.wp-embed-aspect-21-9:before, .wp-block-embed.is-type-video.wp-embed-aspect-18-9:before, .wp-block-embed.is-type-video.wp-embed-aspect-16-9:before, .wp-block-embed.is-type-video.wp-embed-aspect-4-3:before, .wp-block-embed.is-type-video.wp-embed-aspect-1-1:before, .wp-block-embed.is-type-video.wp-embed-aspect-9-16:before, .wp-block-embed.is-type-video.wp-embed-aspect-1-2:before {
  content: "";
  display: block;
  padding-top: 50%;
}
.wp-block-embed.is-type-video.wp-embed-aspect-21-9:before {
  padding-top: 42.85%;
}
.wp-block-embed.is-type-video.wp-embed-aspect-18-9:before {
  padding-top: 50%;
}
.wp-block-embed.is-type-video.wp-embed-aspect-16-9:before {
  padding-top: 56.25%;
}
.wp-block-embed.is-type-video.wp-embed-aspect-4-3:before {
  padding-top: 75%;
}
.wp-block-embed.is-type-video.wp-embed-aspect-1-1:before {
  padding-top: 100%;
}
.wp-block-embed.is-type-video.wp-embed-aspect-9-6:before {
  padding-top: 66.66%;
}
.wp-block-embed.is-type-video.wp-embed-aspect-1-2:before {
  padding-top: 200%;
}
.wp-block-embed.is-type-video .wp-block-embed__wrapper {
  position: initial;
}
.wp-block-embed.is-type-video .wp-block-embed__wrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.wp-block-embed .wp-block-embed__wrapper iframe {
  width: 100%;
}

.wp-block-table.is-style-stripes {
  border-bottom-width: 0 !important;
}

.inter-menu p {
  text-align: center !important;
}
.inter-menu p a {
  color: var(--color-menu-link);
  font-weight: 600;
  font-size: 1.5em;
}
.inter-menu p a:hover {
  color: var(--color-link);
}

/*
 *  La page d'accueil
 */
.home .frame {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr .2fr;
  grid-template-areas: 'title contact sound';
  padding: 3rem 5vw;
  position: relative;
  z-index: 1000;
}
.home .frame .frame__pagetitle {
  display: block !important;
  margin: 0 !important;
  grid-area: title;
  font-size: 1rem;
  margin: 0 0 1rem;
  font-weight: 600;
  color: var(--color-title);
}
.home .frame .frame__pagecontact {
  grid-area: contact;
  text-align: right;
}
.home .frame .frame__pagecontact a {
  color: var(--color-menu-link);
  font-family: var(--font-menu-link);
  font-size: 2em;
}
.home .frame .frame__pagecontact a:hover {
  color: var(--color-deco);
}
.home .frame .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  color: var(--color-menu-link);
  pointer-events: auto;
  cursor: pointer;
  grid-area: sound;
  margin-top: -3em;
  display: none;
}
.home .frame .button:hover, .home .frame .button:focus {
  outline: none;
  color: var(--color-link-hover);
}
.home .frame .button .toggle__icon {
  position: relative;
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 auto;
  fill: currentColor;
}
.home .frame .button .toggle__icon.toggle__icon--off {
  display: none;
}
.home .frame .button.toggle--on .toggle__icon--on {
  display: none;
}
.home .frame .button.toggle--on .toggle__icon--off {
  display: block;
}
.home .items {
  padding: 2rem;
  position: relative;
  z-index: 100;
}
.home .items .menu {
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.home .items .menu .menu__item {
  display: inline-block;
  text-align: left;
  margin: 2vh 0;
}
.home .items .menu .menu__item .menu__item-link {
  color: var(--color-menu-link);
  font-family: var(--font-menu-link);
  font-weight: var(--font-weight-menu-link);
  font-size: 3rem;
  line-height: 1;
  display: block;
  cursor: pointer;
  /*	transition: color 0.2s; */
}
.home .items .menu .menu__item .menu__item-link:hover, .home .items .menu .menu__item .menu__item-link:focus {
  color: var(--color-menu-link-hover);
}
.home .screens,
.home .screen__item,
.home .screen {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.home .screen__item {
  opacity: 0;
  background: var(--color-bg-item);
  z-index: 1;
}
.home .screen__item:first-child {
  opacity: 1;
  z-index: 100;
}
.home .screen__item .screen {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: var(--bg-img);
  will-change: opacity;
}
.home .screen__item .screen--full {
  opacity: 0.6;
  will-change: transform;
}
.home .screen__item .screen--clip-1 {
  clip-path: var(--clip-1);
}
.home #page {
  height: 100vh;
}
.home footer#colophon {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 100;
  font-weight: 100;
  font-family: arial;
  opacity: 0.4;
}
.home .content {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  pointer-events: none;
}

/*
 *  Les pages 
 *      Spectacles
 *      Ateliers
 *      Paroles Nomades
 *      Cheminement
 *      Contact
 */
.page:not(.home) {
  background-color: #bec5bd;
  opacity: 0;
  /*
  * Preview Content Transition
  */
}
.page:not(.home).oh {
  opacity: 1;
}
.page:not(.home) .content__back {
  opacity: 1;
}
.page:not(.home) .content__article--open {
  overflow-y: hidden;
}
.page:not(.home) .heading {
  color: var(--color-menu-link);
  font-family: var(--font-menu-link);
  font-weight: var(--font-weight-menu-link);
  font-size: 3rem;
  line-height: 1.1;
}
.page:not(.home) .heading .splitting .word,
.page:not(.home) .heading .splitting .char {
  display: flex;
}
.page:not(.home) .heading .char-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.page:not(.home) .heading .char {
  display: inline-block;
  will-change: transform;
}
.page:not(.home) .heading .whitespace {
  padding: 0 10px;
}
.page:not(.home) .heading > span {
  display: flex;
}
.page:not(.home) .heading > span:first-child {
  font-size: 14vw;
  font-size: clamp(2rem, 14vw, 9rem);
}
.page:not(.home) .heading > span:nth-child(2) {
  margin-top: -4.5vw;
  text-transform: lowercase;
  color: var(--color-link);
  padding-left: 0.5em;
}
.page:not(.home) .content {
  color: #333;
  font-size: 1.2em;
}
.page:not(.home) .content .heading {
  margin-bottom: 5rem;
  font-size: 10vw;
  font-size: clamp(2rem, 10vw, 6rem);
}
.page:not(.home) .content .heading > span:first-child {
  font-size: 14vw;
  font-size: clamp(2rem, 14vw, 10rem);
}
.page:not(.home) .content .content__text {
  padding: 0;
  margin: 0 auto;
  max-width: var(--max-content);
}
.page:not(.home) .content .content__text p {
  margin: .75em 0;
}
.page:not(.home) .content .content__text img {
  max-width: 100%;
  margin: 4rem auto;
  display: block;
  border-radius: 50%;
}
.page:not(.home) .content .content__article {
  height: 0;
  overflow: hidden;
}
.page:not(.home) .content .content__article .heading {
  text-align: center;
}
.page:not(.home) .content .content__article--open {
  pointer-events: auto;
  padding: 0 0 7vh;
  height: 100%;
  overflow-y: hidden;
  background-color: #bec5bd;
}
.page:not(.home) .content__back {
  position: absolute;
  top: 2rem;
  left: 2rem;
  opacity: 0;
  cursor: pointer;
}
.page:not(.home) .unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
}
.page:not(.home) .unbutton:focus {
  outline: none;
}
.page:not(.home) .content__article--open ~ .content__back {
  pointer-events: auto;
}
.page:not(.home) .menu_cat {
  display: block;
  padding: 0;
  text-align: center;
}
.page:not(.home) .menu_cat .cat-item {
  display: inline-block;
  color: var(--color-link);
  background-color: var(--color-menu-link);
  padding: 1em;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 1em;
  margin: 0.5em;
}
.page:not(.home) .menu_cat .cat-item a {
  color: var(--color-bg-item) !important;
  text-decoration: none !important;
}
.page:not(.home) .menu_cat .cat-item a:hover {
  color: var(--color-bg-actu-footer) !important;
}

/*
 *  Pages Spectacles & Ateliers
 *      Container qui regroupe les spectacles et les ateliers (avec effet d'apparition sur le c├┤t├®)
 */
.maia-spectacles-container {
  position: relative;
  width: var(--max-wrap);
  left: calc((var(--max-content) - var(--max-wrap))/ 2);
}
.maia-spectacles-container .maia-spectacle-entry {
  margin-bottom: 3em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.maia-spectacles-container .maia-spectacle-entry .maia-spectacle-thumb {
  width: 300px !important;
}
.maia-spectacles-container .maia-spectacle-entry .maia-spectacle-text {
  margin-left: 1em !important;
}
.maia-spectacles-container .maia-spectacle-entry a {
  text-decoration: none !important;
}
.maia-spectacles-container .maia-spectacle-entry h4 {
  margin-top: 0.5em !important;
  margin-left: 0em !important;
}
.maia-spectacles-container .maia-spectacle-entry .wp-post-image {
  border-radius: 0 !important;
  margin: 0 !important;
  max-width: none !important;
}

/*
 *  Page Paroles Nomades
 *      Container qui regroupe les articles du blog
 */
.actus-wrap {
  column-count: 2;
  column-gap: 2em;
  column-fill: balance;
  max-width: var(--max-wrap);
  position: relative;
  left: calc((var(--max-content) - var(--max-wrap))/2);
  width: 100vw;
}
.actus-wrap article.actu {
  color: #fff;
  background-color: var(--color-bg-item);
  margin-bottom: 2em;
  display: inline-block;
  width: 100%;
}
.actus-wrap article.actu img, .actus-wrap article.actu a img {
  width: 100% !important;
  border-radius: 0 !important;
  margin: 0 !important;
  height: auto;
}
.actus-wrap article.actu .actu-content-wrap {
  padding: 0 2em;
}
.actus-wrap article.actu .actu-content-wrap h2 {
  font-size: 1.9em !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0 !important;
  text-align: center;
}
.actus-wrap article.actu .actu-content-wrap h2 a {
  color: var(--color-menu-link) !important;
  text-decoration: none !important;
}
.actus-wrap article.actu .actu-content-wrap .excerpt {
  font-size: 0.9em !important;
  padding-bottom: 1em;
}
.actus-wrap article.actu .actu-footer-wrap {
  display: flex;
}
.actus-wrap article.actu .actu-footer-wrap .actu-suite {
  padding: 2em;
  background-color: var(--color-menu-link);
  width: 50%;
  text-align: center;
}
.actus-wrap article.actu .actu-footer-wrap .actu-suite:hover {
  background-color: var(--color-deco) !important;
}
.actus-wrap article.actu .actu-footer-wrap .actu-suite:hover a {
  color: var(--color-menu-link) !important;
}
.actus-wrap article.actu .actu-footer-wrap .actu-suite a {
  text-transform: uppercase;
  text-decoration: none !important;
  color: var(--color-menu-link-hover) !important;
}
.actus-wrap article.actu .actu-footer-wrap .actu-category {
  padding: 2em;
  color: var(--color-actu-tags);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-actu-footer);
  color: var(--color-bg-item);
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 700;
}
.actus-wrap article.actu .actu-footer-wrap .actu-category a {
  color: var(--color-menu-link) !important;
  text-decoration: none !important;
}
.actus-wrap article.actu .actu-footer-wrap .actu-category a:hover {
  color: var(--color-menu-link-hover) !important;
}

button.next-blog {
  min-width: 177px;
  background-color: var(--color-link);
  color: var(--color-bg-item);
  border: 1px solid var(--color-menu-link);
  padding: 1em;
  border-radius: 0.5em;
  font-weight: 700;
  cursor: pointer;
}
button.next-blog:hover {
  background-color: var(--color-menu-link);
}

/*
 *  Page Cheminement
 */
.page-cheminement #chemin-spectacle,
.page-cheminement #chemin-atelier {
  position: relative;
  width: 75vw;
  left: calc((var(--max-content) - 75vw)/ 2);
}
.page-cheminement #chemin-spectacle td,
.page-cheminement #chemin-atelier td {
  border: 1px solid var(--color-menu-link) !important;
}
.page-cheminement #chemin-spectacle td a,
.page-cheminement #chemin-atelier td a {
  color: var(--color-menu-link) !important;
}
.page-cheminement #chemin-spectacle td strong,
.page-cheminement #chemin-atelier td strong {
  color: var(--color-bg-item) !important;
}

/*
 *  CPT Atelier
 *  CPT Spectacle
 *  Les archives d'une cat├®gorie
 */
.single-atelier button#toggle-btn,
.single-spectacle button#toggle-btn,
.category button#toggle-btn {
  display: none;
}

/*
 *  Article Paroles Nomades (Blog)
 */
.single-post canvas {
  position: absolute;
  left: 50%;
  top: 275px;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.single-post .actu-category {
  background-color: var(--color-menu-link);
  padding: 1em;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  border-radius: 1em;
}
.single-post .actu-category a {
  color: var(--color-bg-item) !important;
  text-decoration: none !important;
}
.single-post .actu-category a:hover {
  color: var(--color-bg-actu-footer) !important;
}
.single-post .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  color: var(--color-link);
  cursor: pointer;
  grid-area: sound;
}
.single-post .button:hover, .single-post .button:focus {
  outline: none;
  color: var(--color-link-hover);
}
.single-post .button .toggle__icon {
  position: relative;
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 auto;
  fill: currentColor;
}
.single-post .button .toggle__icon.toggle__icon--off {
  display: none;
}
.single-post .button.toggle--on .toggle__icon--on {
  display: none;
}
.single-post .button.toggle--on .toggle__icon--off {
  display: block;
}
.single-post .start-anim .toggle {
  pointer-events: auto;
}
.single-post .start-anim .button--box {
  pointer-events: none;
}
.single-post .content__breakout {
  height: 20vh !important;
}
.single-post .svgtext {
  z-index: 100;
}

/*
 *  Texte qui ondule
 */
.svgtext {
  flex: none;
  position: relative;
  left: calc(-50vw + var(--content-width)/2 );
  width: 100vw !important;
}
.svgtext text {
  fill: var(--color-title) !important;
  font-family: nocturne-serif, serif;
  font-weight: 600;
  font-size: 3em !important;
  color: var(--color-title) !important;
}
.svgtext textPath {
  text-shadow: 2px 2px 0 #111;
}
.svgtext:nth-of-type(2) text {
  font-size: 1em !important;
}

/*
 *  La navigation bas de page
 */
#navigation-post {
  display: flex;
  margin: 1em 12px 0 0;
}
#navigation-post .nav-previous,
#navigation-post .nav-next {
  width: 50%;
}
#navigation-post .nav-previous .meta-nav,
#navigation-post .nav-next .meta-nav {
  padding-left: 1em;
}
#navigation-post .nav-previous a,
#navigation-post .nav-next a {
  display: flex;
  align-items: center;
  pointer-events: auto;
  font-size: 1.5em;
  font-family: var(--font-menu-link);
  color: var(--color-link) !important;
  text-decoration: none !important;
}
#navigation-post .nav-next {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
#navigation-post .nav-next .meta-nav {
  padding-right: 1em;
  padding-left: 0;
}
#navigation-post .nav-prev-thumb,
#navigation-post .nav-next-thumb {
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 100px !important;
  height: 100px;
  display: inline-block;
}

/*
 * Footer de la page
 */
footer#colophon {
  text-align: center;
  font-size: 0.85em;
  color: #000;
  background-color: var(--color-deco);
  padding: 1em 0;
  opacity: 0.4;
}
footer#colophon a {
  color: var(--color-menu-link);
}
footer#colophon a:hover {
  color: var(--color-bg-actu-footer);
  background-color: var(--color-menu-link);
}

/*
 * Bouton OK pour la notice des cookies
 */
#cookie-notice a.cn-button {
  color: var(--color-deco) !important;
  text-decoration: none !important;
}

/*
 * Responsive Design
 */
@media screen and (min-width: 53em) {
  body.home .site {
    overflow: hidden;
  }
  body.home .items {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
  }
  body.home .items .menu {
    margin: 0 auto;
    max-width: 74vw;
    text-align: center;
    display: block;
  }
  body.home .items .menu .menu__item {
    margin: 3vh 3vw;
  }
  body.home .items .menu .menu__item .menu__link {
    padding-bottom: 0rem;
    margin-bottom: 0.5rem;
    font-weight: var(--font-weight-menu);
    position: relative;
    line-height: 1;
    text-transform: var(--ttransfrom-menu);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  body.home .items .menu .menu__item .menu__link:hover {
    color: var(--color-menu-hover);
    -webkit-text-fill-color: var(--color-menu-hover);
    text-fill-color: var(--color-menu-hover);
  }
  body.home .items .menu .menu__item .menu__link:hover .menu__link-deco {
    opacity: 1;
  }
  body.home .items .menu .menu__item .menu__link .menu__link-inner {
    display: block;
    position: relative;
    outline: 100px solid transparent;
  }
  body.home .items .menu .menu__item .menu__link .menu__link-deco {
    outline: 120px solid transparent;
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
  body.home .items .menu .menu__item .menu__link--outline {
    -webkit-text-stroke: var(--stroke-width-menu) var(--stroke-color-menu);
    text-stroke: var(--stroke-width-menu) var(--stroke-color-menu);
    -webkit-text-fill-color: var(--stroke-fill-menu);
    text-fill-color: var(--stroke-fill-menu);
  }
  body.home .items .menu .menu__item .menu__item-link {
    font-size: var(--font-size-menu-link);
  }
  body.home .items .menu.menu--line .menu__link-deco {
    bottom: 0;
    left: 0;
    height: var(--thickness-deco);
    width: 100%;
    background: var(--color-deco);
  }
  body.home .frame {
    position: fixed;
    text-align: left;
    z-index: 1000;
    top: 0;
    left: 0;
    display: grid;
    align-content: space-between;
    width: 100%;
    max-width: none;
    height: 100vh;
    padding: 3rem 4rem;
    pointer-events: none;
    grid-template-columns: 2fr 1fr .2fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'pagetitle contact sound';
  }
  body.home .frame .frame__pagetitle {
    grid-area: pagetitle;
    justify-self: center;
  }
  body.home .frame a {
    pointer-events: auto;
  }
}
/*
 * 
 */
/*
 * iPad Paysage
 */
@media (max-width: 1080px) {
  .page-cheminement #chemin-atelier,
  .page-cheminement #chemin-spectacle {
    width: 95vw;
    left: calc((var(--max-content) - 95vw)/ 2);
  }
}
/*
 * iPad Portrait
 */
@media (max-width: 959px) {
  body {
    --max-wrap: 750px;
    --max-content: 750px;
  }

  .page:not(.home) .content .content__article--open {
    padding: 0 calc(1em + 17px) 7vh 1em;
  }

  .maia-spectacles-container {
    max-width: 95vw;
    left: calc(95vw - var(--max-wrap))/2;
  }

  .actus-wrap {
    left: calc((100% - var(--max-wrap))/ 2);
  }

  .single-post canvas {
    max-height: 350px !important;
  }
}
/*
 * SmartPhone Paysage
 */
@media (max-width: 781px) {
  body {
    --max-wrap: 600px;
    --max-content: 600px;
  }

  .home .frame {
    padding: 1rem 3vw;
  }

  h1 {
    letter-spacing: 5px;
  }

  .home footer#colophon {
    margin-top: -17px;
    background-color: #000;
    z-index: 100;
    position: relative;
    margin-bottom: 0;
  }

  .wp-block-columns {
    padding: 0.5em 0.5em;
    gap: 0;
  }
  .wp-block-columns img {
    max-width: 25% !important;
  }
  .wp-block-columns p {
    margin: 0;
    text-align: center !important;
  }

  .wp-block-cover {
    max-width: 75% !important;
    margin: 0 auto;
  }

  .actus-wrap {
    column-count: 1;
  }

  .single-post canvas {
    top: 175px;
  }

  .page-cheminement #chemin-atelier,
  .page-cheminement #chemin-spectacle {
    left: calc((var(--max-content) - 98vw)/ 2);
  }

  .page-id-341 .content .content__article--open {
    padding-bottom: 20vh !important;
  }

  #navigation-post {
    flex-direction: column;
  }
  #navigation-post .nav-next,
  #navigation-post .nav-previous {
    width: 100%;
  }

  .svgtext text {
    font-size: 4em !important;
  }
  .svgtext:nth-of-type(2) text {
    font-size: 3em !important;
  }
}
/*
 * SmartPhone Portrait
 */
@media (max-width: 450px) {
  body {
    font-size: 12px;
    --max-wrap: 310px;
    --max-content: 310px;
  }

  .home .frame {
    display: block;
  }

  .home footer#colophon {
    margin-top: 23px;
  }

  .content .content__intro .content__intro-imgWrap .content__intro-img {
    width: 100vw;
  }
  .content .content__body {
    padding: 3em 1em !important;
  }
  .content .content__body > p {
    margin: 0 !important;
  }
  .content .content__body .wp-block-quote {
    margin: 1em;
  }

  .single-post canvas {
    top: 240px;
    width: 100vw !important;
    height: calc(100vw*3/2) !important;
  }

  .content .content__body {
    padding-top: 9em !important;
  }

  .single-post .actu-category {
    z-index: 100;
    position: relative;
  }

  .page-cheminement #chemin-atelier,
  .page-cheminement #chemin-spectacle {
    padding-left: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
