/*
 * Formulaire de contact et l'agenda pour la page Contact
 */

/*
 * Formulaire contact ( WP Contact Form 7)
 */

.wpcf7-form {
  margin: 0;
  position: relative;
  text-align: left;
}

.wpcf7-form > span,
.wpcf7-form > div.wpcf7-form-control-wrap,
.wpcf7-form > div.submit {
  opacity: 0;
  -webkit-transition: opacity ease 1s, -webkit-transform ease 1s;
  transition: opacity ease 1s, transform ease 1s;
}

.wpcf7-form p {
  margin: 0 !important;
}

.wpcf7-form.anim-box > span {
  opacity: 1;
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
}

.wpcf7-form.anim-box > span:nth-of-type(4n+1) {
  -webkit-transition-delay: .8s;
  transition-delay: .8s;
}

.wpcf7-form.anim-box > span:nth-of-type(4n+2) {
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

.wpcf7-form.anim-box > span:nth-of-type(4n+3) {
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}

.wpcf7-form.anim-box > span:nth-of-type(4n) {
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}

.wpcf7-form.anim-box > div.wpcf7-form-control-wrap {
  opacity: 1;
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  -webkit-transition-delay: 2.4s;
  transition-delay: 2.4s;
}

.wpcf7-form.anim-box > div.submit {
  opacity: 1;
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  -webkit-transition-delay: 2.8s;
  transition-delay: 2.8s;
}

.wpcf7-form .submit {
  margin-top: 30px;
  position: relative;
}

.wpcf7-form .submit input[type="submit"] {
  background-color: var(--color-menu-link);
  border: 2px solid var(--color-bg-actu-footer);
  border-radius: 40px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Raleway, sans-serif;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1.4px;
  max-width: 250px;
  min-width: 150px;
  outline: 0 none;
  padding: 1em 2em;
  position: absolute;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  vertical-align: middle;
  z-index: 1;
}

.wpcf7-form .submit input[type="submit"]:hover {
  background-color: #bec5bd;
}

.wpcf7-form span.wpcf7-not-valid-tip {
  bottom: -50x;
  color: #f00;
  font-size: 1em;
  left: 99px;
  position: absolute;
  -webkit-transition: opacity 1s ease 0s;
  transition: opacity 1s ease 0s;
  width: 400px;
  z-index: -100;
}

@media only screen and (min-width: calc($break-small + 1)) and (max-width: 1024px) {
  .wpcf7-form span.wpcf7-not-valid-tip {
    bottom: -39px;
  }
}

.wpcf7-form div.wpcf7-validation-errors,
.wpcf7-form div.wpcf7-response-output {
  border-width: 0;
  bottom: -4em;
  left: 10em;
  font-size: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  font-weight: 700;
}

.wpcf7-form .ajax-loader {
  background-image: url(css/images/ajax_loader.svg) !important;
  background-size: 32px;
  height: 32px !important;
  left: 156px;
  position: absolute;
  top: 9px;
  width: 32px !important;
}

@media only screen and (max-width: 736px) {
  .wpcf7-form .ajax-loader {
    top: -3px;
  }
}

@media only screen and (min-width: calc($break-small + 1)) and (max-width: 1024px) {
  .wpcf7-form .ajax-loader {
    top: 1px;
  }
}

.wpcf7-form .wpcf7-spinner::before {
  top: 1em !important;
  left: 10em !important;
  background-color: var(--color-menu-link) !important;
}

.wpcf7-form .wpcf7-recaptcha {
  margin: 0.5em;
  padding-top: 2em;
}

.wpcf7-form .wpcf7-recaptcha ~ .wpcf7-not-valid-tip {
  z-index: 1 !important;
  top: 100%;
  left: 0 !important;
  width: 100% !important;
  padding-left: 0.5em;
}

/* iPad Pro */

.is-tab span.wpcf7-not-valid-tip {
  bottom: -39px;
}

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0.5em;
  width: 100%;
  vertical-align: top;
}

.input.input--effect {
  overflow: hidden;
  padding-bottom: 5px;
  padding-top: 0.5em;
}

.input.textarea {
  max-width: 100%;
  padding-bottom: 19px;
}

.input.textarea textarea {
  font-family: "Raleway", sans-serif !important;
  height: 250px !important;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 1.5em !important;
}

.input .input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  font-weight: 400;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}

.input .input__field.input__field--effect {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1.25rem;
  padding: 0.1em 0em 0.25em;
  width: 100%;
  line-height: 5em;
}

.input.input--filled .input__field--effect {
  background: rgba(255, 255, 255, 0.02);
}

.input.input--filled span.wpcf7-not-valid-tip {
  opacity: 0;
}

.input .input__field:focus {
  outline: none;
}

.input .input__label {
  display: inline-block;
  padding: 0 1em;
  width: 40%;
  color: var(--color-bg-item);
  font-weight: bold;
  font-size: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: #4ca1af;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input .input__label.input__label--effect {
  position: absolute;
  top: -0.25em;
  font-size: 0.8em;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0em;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
  transition: transform 0.2s 0.15s, color 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.input .input__label-content {
  position: relative;
  display: block;
  padding: 1.5em 0;
  width: 100%;
}

.input .graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.input__field.input__field--effect.scroll-textarea {
  padding: 0 !important;
  height: 250px !important;
}

.input__label--effect.textarea_label {
  top: 0.5em;
}

.graphic--effect {
  stroke: var(--color-menu-link);
  stroke-width: 0.5px;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.textarea .graphic--effect {
  stroke-width: 0.2px;
}

.input__field--effect:focus + .input__label--effect,
.input--filled .input__label--effect {
  color: rgba(50, 62, 73, 0.75);
  -webkit-transform: translate3d(0, -1em, 0) scale3d(0.75, 0.75, 1);
  -ms-transform: translate3d(0, -1em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--effect:focus ~ .graphic--effect,
.input--filled .graphic--effect {
  stroke: rgba(50, 62, 73, 0.3);
  -webkit-transform: translate3d(-66.6%, 0, 0);
  -ms-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}

.scroll-textarea > .scroll-content > textarea {
  overflow: auto !important;
}

.scrollbar-dynamic > .scroll-element.scroll-x {
  display: none !important;
}

#agenda {
  padding: 0 5% 3em !important;
  margin: 0 !important;
  width: auto !important;
  position: static !important;
}

#agenda .groupe-centre {
  padding-top: 3em;
}

#agenda .wp-block-group__inner-container {
  width: auto !important;
  max-width: none !important;
}

#agenda .wp-block-group__inner-container .no-event {
  text-align: center;
  margin-bottom: 4em;
  font-weight: 600;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#agenda #calendrier {
  background-color: var(--color-bg-actu-footer);
  padding: 1em;
}

.event {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 1em;
  background-color: var(--color-link);
}

.event:last-of-type {
  border: 0;
}

.event div {
  display: inline-block;
}

.event .ev-rdv {
  background-color: var(--color-link);
  padding: 0 1em;
}

.event .ev-rdv .ev-jour {
  display: block;
  color: var(--color-bg-item);
  font-weight: 600;
  font-size: 2em;
}

.event .ev-rdv .ev-mois {
  color: var(--color-bg-item);
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
}

.event .ev-image {
  background-size: cover;
  background-position: center center;
  min-width: 210px !important;
}

.event .ev-name {
  min-width: 700px;
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--color-bg-item);
  background-color: var(--color-link);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.event .ev-name h3 {
  font-weight: 600;
  margin: 0;
  color: var(--color-menu-link) !important;
  text-transform: none;
  font-size: 1.5em;
}

.event .ev-name p {
  margin-bottom: 0.1em !important;
}

.event .ev-name .ev-content {
  text-transform: none;
  font-size: 0.9em;
  font-weight: normal;
  letter-spacing: 0;
  padding-right: 5px;
  display: block !important;
  font-weight: 600;
}

.event .ev-name .ev-content a {
  color: var(--color-menu-link);
}

.event .ev-name .ev-content a:hover {
  color: var(--color-bg-item);
}

.event .ev-lieu {
  min-width: 200px;
}

.event .ev-lieu div {
  display: block !important;
}

.event .ev-lieu .ev-lieu-name {
  font-weight: bold;
  color: #2c6e62;
  text-transform: uppercase;
}

.event .ev-date {
  padding-left: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--color-link);
  text-transform: uppercase;
  font-size: 1.5em;
}

.event .ev-date .ev-times {
  color: var(--color-bg-item);
  font-weight: 600;
  font-size: 0.875em;
  display: block;
}

.event .ev-date .ev-tarif {
  font-weight: 600;
  color: var(--color-jaune);
}

.event .ev-inscription {
  min-width: 500px;
  max-width: 500px;
  padding-left: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.event .ev-inscription .wp-block-button__link {
  min-width: 177px;
}

.event .ev-inscription .wp-block-button__link:hover {
  background-color: var(--color-orange);
}

.event .ev-inscription .wp-block-button__link.ev-cancel,
.event .ev-inscription .wp-block-button__link.ev-full-event {
  color: var(--color-orange);
}

.event .ev-inscription .wp-block-button__link.ev-cancel:hover,
.event .ev-inscription .wp-block-button__link.ev-full-event:hover {
  background-color: var(--color-gris-clair);
  cursor: default;
}

/*
 * iPad Paysage
 */

@media (max-width: 1080px) {
  .event .ev-name {
    min-width: 500px;
  }
}

/*
 * iPad Portrait
 */

@media (max-width: 959px) {
  .event .ev-name {
    min-width: 300px;
  }
}

/*
 * SmartPhone Paysage
 */

@media (max-width: 781px) {
  .event {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .event > div {
    min-width: 100% !important;
  }

  .event .ev-rdv {
    text-align: center;
  }

  .event .ev-rdv .ev-jour,
  .event .ev-rdv .ev-mois {
    display: inline-block;
    margin-right: .5em;
  }

  .event .ev-rdv .ev-mois {
    font-size: 2em;
  }

  .event .ev-image {
    height: 300px;
  }

  .event .ev-name {
    letter-spacing: 0;
  }

  .event .ev-date {
    padding: 0 14px 14px;
  }
}

/*
 * SmartPhone Portrait
 */

@media (max-width: 450px) {
  .wpcf7-form div.wpcf7-response-output,
  .wpcf7-form div.wpcf7-validation-errors {
    bottom: -9.5em;
    left: 0em;
  }
}

/*# sourceMappingURL=contact.css.map */