@charset "UTF-8";

/*
 * Les ├®v├¿nements de l'agenda
 */



.single-event button#toggle-btn {
  display: none;
}

.single-event .em.pixelbones {
  font-family: unset !important;
}

.single-event .em.em-item .em-item-meta .em-item-meta-line,
.single-event .em.em-list .em-item .em-item-meta .em-item-meta-line,
.single-event .em.em-list-widget .em-item .em-item-meta .em-item-meta-line {
  color: var(--color-text) !important;
}

.single-event .em.pixelbones,
.single-event .em.pixelbones blockquote,
.single-event .em.pixelbones dl,
.single-event .em.pixelbones figure,
.single-event .em.pixelbones ol,
.single-event .em.pixelbones p,
.single-event .em.pixelbones pre,
.single-event .em.pixelbones table,
.single-event .em.pixelbones ul {
  color: var(--color-text) !important;
}

.single-event .em.pixelbones a,
.single-event .em.em-item .em-item-meta .em-item-meta-line a,
.single-event .em.em-list .em-item .em-item-meta .em-item-meta-line a,
.single-event .em.em-list-widget .em-item .em-item-meta .em-item-meta-line a {
  color: var(--color-link) !important;
}

.single-event .em button.input.em-tooltip-ddm {
  color: var(--color-link) !important;
}

.single-event .em-add-to-calendar-tooltip .em-event-add-to-calendar-content a {
  color: unset !important;
}

.single-event .em-event-location {
  margin-bottom: 3em !important;
}

.single-event .em-event-location .em-osm-map.leaflet-container {
  margin: 0 auto;
}

.single-event .em-event-location .leaflet-popup-content strong {
  color: unset !important;
}

.single-event .em-event-location .leaflet-popup-content a {
  display: none !important;
}

/*# sourceMappingURL=events.css.map */