@charset "UTF-8";

/*
 * Balise spectacle = container des spectacles ou des ateliers pour les pages du m├¬me nom
 * Avec effet de translation du c├┤t├® droit vers le c├┤t├® gauche
 *  cf. retrieve_spectacles ou retrieve_ateliers
 */

spectacle {
  position: relative;
  margin: 0 auto 4em;
  overflow-x: hidden;
  display: block;
}

spectacle .dual {
  margin: 0 auto;
  position: relative;
  min-height: 500px;
  overflow: hidden;
}

spectacle .dual .dual__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

spectacle .dual .dual__inner .block-revealer__content {
  opacity: 0;
}

spectacle .dual .dual__inner .dual__half {
  position: absolute;
  height: 100%;
  width: 51%;
  right: 0;
  background: no-repeat 50% 0%;
  background-size: cover;
}

spectacle .dual .dual__content {
  position: absolute;
  left: 0;
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  padding: 1.5em 2.5em;
  font-size: 0.9em;
  line-height: 1.4;
  opacity: 0;
  -webkit-transform: translate3d(60px, 0, 0);
  -ms-transform: translate3d(60px, 0, 0);
  transform: translate3d(60px, 0, 0);
  -webkit-transition: opacity 0.55s 0.4s, -webkit-transform 0.55s 0.4s;
  transition: opacity 0.55s 0.4s, transform 0.55s 0.4s;
}

spectacle .dual .dual__content .entry-title {
  margin: 0;
  text-transform: uppercase;
  color: var(--color-menu-link);
}

spectacle .dual .dual__content p {
  margin-bottom: 0.5em;
  font-size: 0.9em;
}

spectacle .dual .dual__content ul {
  margin-left: 0;
}

spectacle .dual .dual__content ul li {
  margin-bottom: 1em;
}

spectacle .dual .dual__content.dual__content--show {
  opacity: 1;
  pointer-events: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

spectacle .block-revealer__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
  opacity: 0;
}

/*
 * SmartPhone Paysage
 */

@media (max-width: 781px) {
  spectacle .dual .dual__content {
    padding: 1.5em 1.5em !important;
    font-size: .8em !important;
  }

  .page:not(.home) .content .content__text p {
    margin: 0.5rem 0 !important;
  }
}

/*
 * SmartPhone Portrait
 */

@media (max-width: 450px) {
  spectacle .dual {
    min-height: 1000px;
  }

  spectacle .dual .dual__inner {
    width: 100%;
    height: 50%;
    left: 0;
    top: 0;
  }

  spectacle .dual .dual__inner .dual__half {
    width: 100%;
    right: 0;
    left: 0;
    background: no-repeat 50% 50%;
    background-size: cover;
    z-index: 1000;
  }

  spectacle .dual .dual__content {
    background-color: #2d2c2c;
    width: 100%;
    height: 100%;
    top: 50%;
    font-size: 1em !important;
  }

  .page:not(.home) .content .content__text p {
    text-align: left !important;
  }
}

/*# sourceMappingURL=page.css.map */