* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after,
*::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.nav {
  list-style: outside none none;
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=reset.css.map */