@charset "UTF-8";

/*
 * Feuille de style mal nomm├®e
 * Concerne tous les articles (single-post) et les CPT (spectacle, atelier)
 */

*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 15px;
}

body {
  margin: 0;
  --color-text: #a0a0a0 !important;
  --color-text-tab: #333 !important;
  --color-bg: #000 !important;
  --color-link: #e88e41 !important;
  --font-menu-link: Suez One, serif !important;
  --image-height-start: 250px;
  --image-width-end: 260px;
  --image-height-end: 320px;
  --image-offset: 50px;
  --content-padding: 50px;
  --content-width: 850px;
  color: var(--color-text);
  background-color: var(--color-bg);
  overflow: hidden;
  overflow-y: scroll;
  --cursor-stroke: none;
  --cursor-fill: #c5b4b2;
  --cursor-stroke-width: 1px;
}

#page {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

a {
  text-decoration: underline !important;
  color: var(--color-link) !important;
  outline: none !important;
}

a:hover,
a:focus {
  text-decoration: none !important;
  color: var(--color-text-tab) !important;
  outline: none !important;
}

/*
 * Menu de navigation primaire
 */

#site-navigation {
  padding: 1.25rem;
  width: 100%;
  position: absolute;
  z-index: 1000;
  text-transform: uppercase;
  font-size: 0.85rem;
  padding: 1.25em 3em;
  text-align: left;
  display: grid;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  max-width: none;
  grid-template-columns: 1fr 2fr 4em;
  grid-template-rows: auto;
  grid-template-areas: 'home menu sound';
}

#site-navigation .home-link {
  grid-area: home;
  pointer-events: auto;
  font-size: 1.5em;
  font-family: var(--font-menu-link);
  color: var(--color-link) !important;
  text-decoration: none !important;
}

#site-navigation .home-link:hover,
#site-navigation .home-link:focus {
  color: var(--color-menu-link) !important;
}

#site-navigation .menu-menu-1-container {
  grid-area: menu;
  margin: 0;
  justify-self: end;
}

#site-navigation #primary-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  justify-content: end;
  margin: 0;
}

#site-navigation #primary-menu li {
  list-style: none !important;
}

#site-navigation #primary-menu li a {
  pointer-events: auto;
  font-size: 1.5em;
  font-family: var(--font-menu-link);
  color: var(--color-link) !important;
  text-decoration: none !important;
}

#site-navigation #primary-menu li a:hover,
#site-navigation #primary-menu li a:focus {
  color: var(--color-menu-link) !important;
}

#site-navigation #primary-menu li:not(:last-child) {
  margin-right: 1rem;
}

#site-navigation .is-menu {
  margin-top: 2px;
}

#site-navigation .is-menu .search-icon-path {
  fill: var(--color-menu-link) !important;
}

#site-navigation button.menu-toggle {
  font-weight: 600;
  text-decoration: none;
  display: none;
  justify-self: end;
  grid-area: menu;
}

h2,
h3 {
  text-transform: uppercase;
  color: var(--color-title);
  text-align: center;
}

blockquote {
  position: relative;
  padding-top: 3em;
}

blockquote::before {
  content: 'ÔÇØ';
  font-size: 48em;
  font-family: georgia, serif;
  top: -60px;
  left: -110px;
  position: absolute;
  opacity: 0.25;
  line-height: 1em;
  height: 340px;
  overflow: hidden;
  display: block;
  z-index: -1;
}

.text-right {
  text-align: right;
}

.content {
  position: relative;
  color: var(--color-text) !important;
  font-size: 1.2em;
}

.content.content--scroll .content__intro {
  cursor: default;
}

.content .inner {
  max-width: var(--content-width);
  margin: 0 auto;
}

.content .content__header {
  padding-top: 4rem;
}

.content .content__title {
  letter-spacing: -0.15rem;
  margin: 1rem 0;
  line-height: 1;
  font-family: nocturne-serif, serif;
  font-weight: 600;
  color: var(--color-title) !important;
  text-shadow: none;
  margin-top: 10em;
}

.content .content__subtitle {
  font-family: nocturne-serif, serif;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0.5rem 0 3rem 0;
  line-height: 1.2;
}

.content .content__intro {
  height: var(--image-height-start);
  overflow: hidden;
  pointer-events: auto;
  cursor: pointer;
  will-change: transform;
}

.content .content__intro.content__breakout {
  width: 100vw;
  left: 50%;
  right: 50%;
  margin: auto -50vw 0;
  position: relative;
}

.content .content__intro .content__intro-imgWrap {
  will-change: transform;
}

.content .content__intro .content__intro-imgWrap .content__intro-img {
  height: auto;
  position: fixed;
}

.content .content__body {
  padding: 0 0 10rem 0;
  font-weight: 400;
  line-height: 1.4;
  position: relative;
}

.content .content__body .content__body-para {
  margin: 4rem 0;
  padding: 0 1rem;
}

.content .content__body > p:nth-of-type(2n) {
  margin-left: 40%;
}

.content .content__body > p:nth-of-type(2n+1) {
  margin-right: 40%;
}

.postid-113 .content .content__intro .content__intro-imgWrap .content__intro-img {
  margin-top: -21vh;
}

.postid-119 .content .content__intro .content__intro-imgWrap .content__intro-img {
  margin-top: -2vh;
}

.postid-115 .content .content__intro .content__intro-imgWrap .content__intro-img {
  margin-top: -40vh;
}

.postid-201 .content .content__intro .content__intro-imgWrap .content__intro-img {
  margin-top: -8vh;
}

.postid-197 .content .content__intro .content__intro-imgWrap .content__intro-img {
  margin-top: -34vh;
}

.postid-194 .content .content__intro .content__intro-imgWrap .content__intro-img {
  margin-top: -22vh;
}

.postid-192 .content .content__intro .content__intro-imgWrap .content__intro-img {
  margin-top: -18vh;
}

.postid-189 .content .content__intro .content__intro-imgWrap .content__intro-img {
  margin-top: -15vh;
}

.postid-161 .content .content__intro .content__intro-imgWrap .content__intro-img {
  margin-top: -4vh;
}

.single-event .content .content__title,
.single-post .content .content__title,
.category .content .content__title {
  margin-top: 0;
}

.wp-block-table tr,
.wp-block-table td {
  color: var(--color-text-tab) !important;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(2n) {
  background-color: #c0c0c0;
}

.cursor {
  display: none;
}

/*
 * Footer
 */

.site-info {
  color: var(--color-text) !important;
}

@media (any-pointer: fine) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    mix-blend-mode: color-burn;
  }

  .cursor__inner {
    fill: var(--cursor-fill);
    stroke: var(--cursor-stroke);
    stroke-width: var(--cursor-stroke-width);
    opacity: 0.7;
  }
}

/*
 * 
 */

/*
 * iPad Paysage
 */

@media (max-width: 1080px) {
  #site-navigation .home-link,
  #site-navigation #primary-menu li a {
    font-size: 1.2em;
  }

  object.wp-block-file__embed {
    display: block !important;
  }

  .content .content__body {
    padding-top: 3em;
  }
}

/*
 * iPad Portrait
 */

@media (max-width: 959px) {
  body {
    --content-width: 750px;
  }
}

/*
 * SmartPhone Paysage
 */

@media (max-width: 781px) {
  body {
    --content-width: 600px;
  }

  #site-navigation button.menu-toggle {
    display: block;
  }

  #site-navigation .menu-menu-2-container {
    display: none;
  }

  body .site-header .main-navigation.toggled .menu-toggle span {
    opacity: 0;
  }

  body .site-header .main-navigation.toggled .menu-toggle::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
  }

  body .site-header .main-navigation.toggled .menu-toggle::after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
  }

  body .site-header .main-navigation.toggled .menu-menu-2-container {
    display: block !important;
    position: absolute;
    visibility: visible;
    opacity: 1;
    margin: 0 auto;
    right: 13vw;
    top: 16vh;
    z-index: 9999;
  }

  body .site-header .main-navigation.toggled .menu-menu-2-container #primary-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  body .site-header .main-navigation.toggled .menu-menu-2-container ul {
    padding: 0;
    margin: 0;
    background: rgba(255, 255, 255, 0.9);
    border-top: 3px solid var(--color-menu-link);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 230px;
  }

  body .site-header .main-navigation.toggled .menu-menu-2-container ul li {
    display: list-item;
    font-size: .75em;
    font-weight: 600;
    margin-right: 0 !important;
  }

  body .site-header .main-navigation.toggled .menu-menu-2-container ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.03) !important;
    color: #fff;
    padding: 10px 5%;
    width: 100%;
    display: block;
    height: 2em;
    line-height: 0;
    text-transform: uppercase;
    font-family: unset !important;
  }

  body .site-header .main-navigation.toggled .menu-menu-2-container ul li .sub-menu {
    position: static;
    border-top: none;
    width: 200px;
    box-shadow: none;
    padding-left: 18px;
  }

  body .site-header .main-navigation.toggled .menu-menu-2-container ul li.current-menu-item,
  body .site-header .main-navigation.toggled .menu-menu-2-container ul li.current-menu-parent,
  body .site-header .main-navigation.toggled .menu-menu-2-container ul li.current-post-parent,
  body .site-header .main-navigation.toggled .menu-menu-2-container ul li:hover {
    background-color: var(--color-menu-link);
  }

  body .site-header .main-navigation.toggled .menu-menu-2-container ul li.current-menu-item a,
  body .site-header .main-navigation.toggled .menu-menu-2-container ul li.current-menu-parent a,
  body .site-header .main-navigation.toggled .menu-menu-2-container ul li.current-post-parent a,
  body .site-header .main-navigation.toggled .menu-menu-2-container ul li:hover a {
    color: #fff !important;
    display: block;
  }

  body .site-header .main-navigation .menu-menu-principal-container {
    display: none;
  }

  .menu-toggle {
    background: transparent;
    border: none;
    display: block;
    width: 25px;
    height: 25px;
    padding: 0;
    outline: none;
    position: absolute;
    top: 0 !important;
    right: -4em !important;
    cursor: pointer;
    z-index: 2000;
  }

  .menu-toggle::before,
  .menu-toggle::after,
  .menu-toggle span {
    background: var(--color-menu-link);
  }

  .menu-toggle::before {
    top: 62%;
  }

  .menu-toggle::after {
    top: 35%;
  }

  .menu-toggle::before,
  .menu-toggle::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
  }

  .menu-toggle::before {
    -webkit-transform-origin: 70% 50%;
    -ms-transform-origin: 70% 50%;
    transform-origin: 70% 50%;
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    -webkit-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  .menu-toggle::after {
    -webkit-transform-origin: 65% 50%;
    -ms-transform-origin: 65% 50%;
    transform-origin: 65% 50%;
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    -webkit-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  .menu-toggle span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    overflow: hidden;
    text-indent: 200%;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
  }

  #site-navigation #primary-menu li a:focus,
  #site-navigation #primary-menu li a:hover {
    color: #fff !important;
  }

  /*
   * Une parole nomade
   */

  .single-post .menu-toggle {
    position: absolute !important;
    right: 0 !important;
  }
}

/*
 * SmartPhone Portrait
 */

@media (max-width: 450px) {
  body {
    --content-width: 310px;
  }

  body .site-header .main-navigation.toggled .menu-menu-2-container {
    top: 9vh;
  }

  #site-navigation button.menu-toggle {
    font-weight: 600;
    text-decoration: none;
    justify-self: end;
    grid-area: menu;
  }

  .single-post .menu-toggle {
    top: 1vh !important;
    position: absolute !important;
    right: 1vw !important;
  }

  .single-post .menu-toggle span,
  .single-post .menu-toggle::after,
  .single-post .menu-toggle::before {
    right: 0 !important;
  }

  .single-post .menu-toggle::before {
    -webkit-transform-origin: 80% 50%;
    -ms-transform-origin: 80% 50%;
    transform-origin: 80% 50%;
    top: 65%;
  }
}

/*# sourceMappingURL=spectacle.css.map */