spectacle {
	position: relative;
	margin: 0 auto 4em;
	overflow-x: hidden;
    display: block;
}

spectacle .dual {
    margin: 0 auto;
    position: relative;
    min-height: 500px;
    overflow: hidden;
}

spectacle .dual .dual__inner {
    position: absolute;
    width: 100%;
    height: 100%;	
    left: 0;
}

spectacle .dual .dual__inner .block-revealer__content {
    opacity: 0;
}

spectacle .dual .dual__inner .dual__half {
    position: absolute;
    height: 100%;
    width: 51%;
    right: 0;
    background: no-repeat 50% 0%;
    background-size: cover;
}


spectacle .dual .dual__content {
    position: absolute;
    left: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1.5em 2.5em;
    font-size: 1em;
    line-height: 1.4;
    color: $colorfont;
    opacity: 0;
    transform: translate3d(60px,0,0);
    transition: opacity 0.55s 0.4s, transform 0.55s 0.4s;
}

spectacle .dual .dual__content .entry-title {
    color: var(--color-menu-link);
    margin: 0;
    text-transform: uppercase;
}

spectacle .dual .dual__content p {
    margin-bottom: 0.5em;
    font-size: 0.9em;
}

spectacle .dual .dual__content ul {
    margin-left: 0;
}

spectacle .dual .dual__content ul li {
    margin-bottom: 1em;
}

spectacle .dual .dual__content.dual__content--show {
    opacity: 1;
    pointer-events: visible;
    transform: translate3d(0,0,0);
}
spectacle .block-revealer__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    pointer-events: none;
    opacity: 0;
}