*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}

body {
	margin: 0;
	--color-text: #a0a0a0 !important;
	--color-text-tab: #333 !important;
	--color-bg: #000 !important;
	--color-link: #e88e41 !important;
	--color-menu-link: #e5e3e0 !important;
	--color-link-hover: #ffffff !important;
	--font-menu-link: Suez One, serif !important;

/*
    --color-title: #333 !important;
*/
	--image-height-start: 250px;
	--image-width-end: 260px;
	--image-height-end: 320px;
	--image-offset: 50px;
	--meta-offset: 40px;
	--color-footer-bg: #dad6cf;
	--content-padding: 50px;
	--content-width: 850px;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: mentone, sans-serif;
	overflow: hidden;
	overflow-y: scroll;
	--cursor-stroke: none;
    --cursor-fill: #c5b4b2;
    --cursor-stroke-width: 1px;
	transform: translate3d(0,0,0);
}


/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: underline !important;
	color: var(--color-link) !important;
	outline: none !important;
}

a:hover,
a:focus {
	text-decoration: none !important;
	color: var(--color-text-tab) !important;
	outline: none !important;
}

#site-navigation {
	padding: 1.25rem;
	width: 100%;
	position: absolute;
	z-index: 1000;
	text-transform: uppercase;
	font-size: 0.85rem;
    padding: 1.25rem 3rem;
    text-align: left;
    display: grid;
    align-content: space-between;
    max-width: none;
    pointer-events: none;
    grid-template-columns: 1fr 2fr 0rem;
    grid-template-rows: auto;
    grid-template-areas: 'title links menu';

}

#site-navigation .menu-menu-1-container {
    grid-area: links;
    margin: 0;
    justify-self: end;
}

#site-navigation #primary-menu {
	display: flex;
    flex-direction: row;
}

#site-navigation #primary-menu li {
	list-style: none !important;
}

#site-navigation #primary-menu li a {
    pointer-events: auto;
    font-size: 1.5em;
    font-family: var(--font-menu-link);
    color: var(--color-link) !important;
	text-decoration: none !important;

/*
    font-weight: var(--font-weight-menu-link);
*/
}

#site-navigation #primary-menu li a:hover,
#site-navigation #primary-menu li a:focus {
    color: var(--color-menu-link) !important;
}

#site-navigation #primary-menu li:not(:last-child) a {
	margin-right: 1rem;
}

#site-navigation button {
	cursor: not-allowed;
	font-weight: 600;
	text-decoration: none;
    display: none;
    justify-self: end;
    grid-area: menu;
}

.site-info {
	color: var(--color-text) !important;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(2n) {
	background-color: #c0c0c0;
}

h2, h3 {
	text-transform: uppercase;
	color: var(--color-title);
	text-align: center;
}
blockquote::before {
	content: '”';
	font-size: 48em;
	font-family: georgia, serif;
	top: -325px;
	position: absolute;
	left: -110px;
	opacity: 0.25;
}

.wp-block-quote {
	position: relative;
	padding-top: 3em;
}

.content {
	position: relative;
	color: var(--color-text) !important;
}

tr, td {
	color: var(--color-text-tab) !important;
}

.js .content {
	overflow: hidden;
	height: 100vh;
	pointer-events: none;
}

.js .content--scroll {
	overflow: visible;
	height: auto;
	pointer-events: auto;
}

.inner {
	max-width: var(--content-width);
	padding: 0 var(--content-padding);
	margin: 0 auto;
}

.content__header {
	padding-top: 4rem;
}

.content__meta {
	position: relative;
	font-size: 0.85rem;
	width: var(--image-width-end);
}

.content__meta-number {
	font-weight: bold;
}

.content__meta-title {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(calc(var(--meta-offset) * 2 + var(--image-height-end))) translateY(-100%);
}

.js .content__meta-title {
	opacity: 0;
}

.content__title {
	letter-spacing: -0.15rem;
	margin: 1rem 0;
	line-height: 1;
	font-family: nocturne-serif, serif;
	font-weight: 600;
    color: var(--color-title) !important;
    text-shadow: none;
}

.js .anim-block-wrap {
	position: relative;
	overflow: hidden;
}

.js .anim-block {
	display: block;
}

.content__subtitle {
	font-family: nocturne-serif, serif;
	font-weight: 600;
	font-size: 1.25rem;
	margin: 0.5rem 0 3rem 0;
	line-height: 1.2;
}

.content__breakout {
	width: 100vw;
	left: 50%;
	right: 50%;
	margin: auto -50vw 0;
	position: relative;
}

.content__intro {
	height: var(--image-height-start);
	overflow: hidden;
	pointer-events: auto;
	cursor: pointer;
	will-change: transform;
}

.content--scroll .content__intro {
	cursor: default;
}

.content__intro-imgWrap {
	will-change: transform;
}

.content__intro-img {
/*
	width: 100vw;
*/	
	height: auto;
	position: fixed;
}

.content__body {
	padding: 0 0 10rem 0;
	font-weight: 400;
	line-height: 1.6;
}

.content__body > p:nth-of-type(2n) {
	margin-left: 40%;
}

.content__body > p:nth-of-type(2n+1) {
	margin-right: 40%;
}

.js .content__body {
	opacity: 0;
}

.js .content--scroll .content__body {
	opacity: 1;
}

.content__body-para {
	margin: 4rem 0;
	padding: 0 1rem;
}

.anim-show {
	transform: translateY(100%);
	opacity: 0;
	transition: all .8s cubic-bezier(0.2,1,0.3,1);
}

.anim-show.is-inview {
	transform: translateY(0%);
	opacity: 1;
}

.cell--1-3 {
	grid-column: 1 / span 3;
}

.cell--2-3 {
	grid-column: 2 / span 2;
}

.cell--3 {
	grid-column: 3;
}

.cell--1-3 {
	grid-column: 1 / span 3;
}

.content__body-imgwrap {
	width: 100%;
	height: calc(((var(--content-width) - var(--content-padding)) * 828/1000) - 100px);
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content__body-image {
	width: 100%;
	height: calc((var(--content-width) - var(--content-padding)) * 828/1000);
	background-size: cover;
	background-position: 50% 50%;
}

.content__footer {
	padding: 3rem 4rem 3.5rem;
	background: var(--color-footer-bg);
}

.inner--grid {
	text-align: left;
}

.content__footer-copyright {
	text-decoration: none;
}

.content__footer-next {
	display: block;
	font-family: nocturne-serif, serif;
	font-weight: 600;
	font-size: 3rem;
	cursor: not-allowed;
}

.cursor {
	display: none;
}

.thumbs {
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	perspective: 1000px;
}

.thumb {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 0.85rem;
	width: var(--image-width-end);
	will-change: transform;
}

.thumb__img {
	cursor: not-allowed;
	width: 100%;
	height: var(--image-height-end);
	background-size: cover;
	background-position: 50% 50%;
}

.thumb__number {
	position: absolute;
	font-weight: bold;
	bottom: 100%;
	transform: translateY(calc(-1 * var(--meta-offset) + 100%));
}

.thumb__title {
	position: absolute;
	top: 100%;
	left: 0;
	text-transform: uppercase;
	transform: translateY(calc(var(--meta-offset) - 100%));
}

/*! locomotive-scroll v3.5.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
	overflow: hidden; 
}
  
html.has-scroll-dragging {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}
  
.has-scroll-smooth body {
	overflow: hidden; 
}
  
.has-scroll-smooth [data-scroll-container] {
	min-height: 100vh; 
}
  
.c-scrollbar {
	position: absolute;
	right: 0;
	top: 0;
	width: 11px;
	height: 100vh;
	transform-origin: center right;
	transition: transform 0.3s, opacity 0.3s;
	opacity: 0; 
}
.c-scrollbar:hover {
	transform: scaleX(1.45); 
}
.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
	opacity: 1; 
}
  
.c-scrollbar_thumb {
	position: absolute;
	top: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
	width: 7px;
	border-radius: 10px;
	margin: 2px;
	cursor: -webkit-grab;
	cursor: grab; 
}
.has-scroll-dragging .c-scrollbar_thumb {
	cursor: -webkit-grabbing;
	cursor: grabbing; 
}

@media screen and (min-width: 53em) {
	body {
		--meta-offset: 100px;
	}
	.frame {
		padding: 1.25rem 3rem;
		text-align: left;
		display: grid;
		align-content: space-between;
		max-width: none;
		pointer-events: none;
		grid-template-columns: 1fr 1fr 8rem;
		grid-template-rows: auto;
		grid-template-areas: 'title links menu';
	}
	.frame__title-wrap {
		grid-area: title;
	}
	.frame__button {
		justify-self: end;
		grid-area: menu;
	}
	.frame__links {
		grid-area: links;
		margin: 0;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.content__body {
/*
		display: grid;
*/
        grid-template-columns: 50% 25% 25%;
		align-items: start;
	}
	.text-right {
		text-align: right;
	}
	.inner--grid {
		display: grid;
		grid-template-columns: 50% 50%;
		align-items: center;
	}
	.thumbs {
		opacity: 1;
	}
	.thumb__img {
		pointer-events: auto;
	}
}

@media screen and (max-height: 700px) {
	body {
		--meta-offset: 40px;
	}
}

@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		mix-blend-mode: color-burn;
	}
	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
		opacity: 0.7;
	}
	.credits {
		padding-left: 25vw;
	}
}