@charset "UTF-8";
/*
Theme Name:  maia
Theme URI: https://www.babel-web.info/
Description: Ma├»a CHAUVIER
Author: Olivier SPADI
Author URI: https://www.babel-web.info/
Version: 1.0.0
*/
/* hebrew */
@import url("https://p.typekit.net/p.css?s=1&k=lne5uqk&ht=tk&f=1286.1288.45329&a=1494256&app=typekit&e=css");
@font-face {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/suezone/v8/taiJGmd_EZ6rqscQgOFMmouQ-A.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/suezone/v8/taiJGmd_EZ6rqscQgOFAmouQ-A.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/suezone/v8/taiJGmd_EZ6rqscQgOFOmos.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "mentone";
  src: url("https://use.typekit.net/af/9915a4/00000000000000003b9afbf3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/9915a4/00000000000000003b9afbf3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/9915a4/00000000000000003b9afbf3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "mentone";
  src: url("https://use.typekit.net/af/79e0d2/00000000000000003b9afbf7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/79e0d2/00000000000000003b9afbf7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/79e0d2/00000000000000003b9afbf7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family: "nocturne-serif";
  src: url("https://use.typekit.net/af/b6735e/00000000000000003b9b45d6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"), url("https://use.typekit.net/af/b6735e/00000000000000003b9b45d6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"), url("https://use.typekit.net/af/b6735e/00000000000000003b9b45d6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}
.tk-mentone {
  font-family: "mentone",sans-serif;
}

.tk-nocturne-serif {
  font-family: "nocturne-serif",serif;
}

* {
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.nav {
  list-style: outside none none;
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  margin: 0;
  --color-deco: #fff;
  --thickness-deco: 2px;
  --color-text: #e5e3e0;
  --color-bg: #bec5bd;
  --color-link: #e5e3e0;
  --color-link-hover: #fff;
  --color-title: #e88e41;
  --color-bg-item: #282b27;
  --color-menu-tag: #f0b579;
  --color-menu-link: #e88e41;
  --color-menu-link-hover: #ffffff;
  --font-menu-link: latienne-pro, serif;
  --font-weight-menu-link: 700;
  --font-size-menu-link: 5vw;
  --clip-1: polygon(37% 15%, 63% 15%, 63% 85%, 37% 85%);
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: soleil, Futura, "Trebuchet MS", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  /*
      text-align: center;
  */
  text-transform: uppercase;
  font-size: 4em !important;
  letter-spacing: 20px;
  text-shadow: 1px 1px 1px black;
  font-weight: 700;
  --font-menu-link: poynter-oldstyle-display, serif;
  font-family: 'Suez One', serif;
  color: white !important;
}

h2 {
	text-transform: uppercase;
  font-family: 'Suez One', serif;
	font-weight: 100;
	letter-spacing: 2px;
	font-size: 2em;
}

strong {
  font-weight: 700;
  color: var(--color-deco);
}

p.has-text-align-center {
	text-align: center !important;
}
p.has-text-align-center a {
  font-weight: 700;
	font-size: 1.5em;
	color: var(--color-menu-link) !important;
}

#chemin-spectacle,
#chemin-atelier {
  position: relative;
  width: 75vw;
  left: -12.5vw;
}

#chemin-spectacle td,
#chemin-atelier td {
	border: 1px solid var(--color-menu-link) !important;
}

table td a {
	color: var(--color-menu-link) !important;
}

table td strong {
	color: var(--color-bg-item) !important;
}



.wp-block-file .wp-block-file__button {
  outline: 2px solid var(--color-menu-link) !important;
  font-weight: 700;
  font-size: 1em;
  background-color: var(--color-deco);
  text-transform: uppercase;
  text-decoration: none !important;
  border-radius: 1em !important;
}

p {
  text-align: justify !important;
}

.aligncenter {
  text-align: center;
}

.demo-3 {
  --color-text: #fff;
  --color-bg: #000;
  --color-link: #e5e3e0;
  --color-link-hover: #fff;
  --color-title: #faedba;
  --color-bg-item: #282b27;
  --color-menu-tag: #ffffff;
  /*
      --color-menu-link: #d05d3b;
  */
  --color-menu-link: #e88e41;
  --color-menu-link-hover: #ffffff;
  --font-menu-link: latienne-pro, serif;
  --font-weight-menu-link: 700;
  --font-size-menu-link: 5vw;
  --clip-1: polygon(50% 0%, 20% 100%, 80% 100%);
}

.demo-3 .frame {
  display: block !important;
}

.demo-3 .frame .frame__pagetitle {
  display: block !important;
  margin: 0 !important;
}

.home #page {
  height: 100vh;
}
.home footer#colophon {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 100;
  font-weight: 100;
  font-family: arial;
  margin-bottom: 1em;
  color: var(--color-link-hover);
}
.home .content {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  pointer-events: none;
}

.page:not(.home) {
  background-color: #bec5bd;
  opacity: 0;
}
.page:not(.home).oh {
  opacity: 1;
}
.page:not(.home) .content__back {
  opacity: 1;
}
.page:not(.home) .content__article--open {
  overflow-y: hidden;
}

.content__article {
  height: 0;
  overflow: hidden;
}

.content__article--open {
  pointer-events: auto;
  padding: 0 0 6vh;
  height: 100%;
  overflow-y: scroll;
  background-color: #bec5bd;
}

.content__article .heading {
  text-align: center;
}

footer#colophon {
  text-align: center;
  font-size: 0.85em;
  color: #000;
}
footer#colophon a {
  color: var(--color-menu-link);
}
footer#colophon a:hover {
  color: var(--color-link-hover);
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: '';
  position: fixed;
  z-index: 1100;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}
a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

main {
  position: relative;
}

.frame {
  padding: 3rem 5vw;
  position: relative;
  z-index: 1000;
}

.frame__title {
  font-size: 1rem;
  margin: 0;
}

.frame__header--grid {
  width: fit-content;
  display: grid;
  grid-template-columns: auto auto;
}

.frame__header--grid::before,
.frame__header--grid::after {
  content: '---';
}

.frame__header--grid::before {
  grid-area: 1 / 1 / 2 / 3;
}

.frame__header {
  margin: 0;
}

.frame__header dd {
  margin: 0 0 0 0.5rem;
}

.frame__header dd a {
  text-decoration: underline;
}

.frame__header dd a:hover,
.frame__header dd a:focus {
  text-decoration: none;
}

.frame__pagetitle {
  font-size: 1rem;
  margin: 0 0 1rem;
  font-weight: 600;
  color: var(--color-title);
}

.frame__demos a:not(:last-child) {
  margin-right: 1rem;
}

.frame__demos {
  margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
  color: var(--color-text);
}

.screens,
.screen__item,
.screen {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.screen__item {
  opacity: 0;
  background: var(--color-bg-item);
  z-index: 1;
}

.screen__item:first-child {
  opacity: 1;
  z-index: 100;
}

.screen {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: var(--bg-img);
  will-change: opacity;
}

.screen--full {
  opacity: 0.6;
  will-change: transform;
}

.screen--clip-1 {
  clip-path: var(--clip-1);
}

.screen--clip-2 {
  clip-path: var(--clip-2);
}

.items {
  padding: 2rem;
  position: relative;
  z-index: 100;
}

.menu {
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu__item {
  display: inline-block;
  text-align: left;
  margin: 2vh 0;
}

.menu__item-tag {
  color: var(--color-menu-tag);
}

.menu__item-link {
  color: var(--color-menu-link);
  font-family: var(--font-menu-link);
  font-weight: var(--font-weight-menu-link);
  font-size: 3rem;
  line-height: 1;
  display: block;
  cursor: pointer;
  /*	transition: color 0.2s; */
}

.menu__item-link:hover,
.menu__item-link:focus {
  color: var(--color-menu-link-hover);
}

.wp-embed-featured-image.square {
  float: none !important;
  max-width: 100% !important;
  margin-right: 0 !important;
}

.maia-spectacles-container {
		position: relative;
		width: 75vw;
		left: -12.5vw;
	/*
		text-align: center;
		display: flex;
		flex-wrap: wrap;
	*/
  }
  .maia-spectacles-container .maia-spectacle-entry {
	margin-bottom: 3em;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
  }
  .maia-spectacles-container .maia-spectacle-entry .maia-spectacle-thumb {
	width: 300px !important;
  }
  .maia-spectacles-container .maia-spectacle-entry .maia-spectacle-text {
	margin-left: 1em !important;
  }
  .maia-spectacles-container .maia-spectacle-entry a {
	text-decoration: none !important;
  }
  .maia-spectacles-container .maia-spectacle-entry h4 {
	margin-top: 0.5em !important;
	margin-left: 0em !important;
  }
  .maia-spectacles-container .maia-spectacle-entry .wp-post-image {
	border-radius: 0 !important;
	margin: 0 !important;
	max-width: none !important;
  }
  
  .svgtext {
	flex: none;
	position: relative;
	  left: calc(-6 * var(--content-padding));
	  width: 100vw !important;
  }
  
  .svgtext text {
	fill: var(--color-title) !important;
	  font-family: nocturne-serif, serif;
	  font-weight: 600;
	  font-size: 3em !important;	
	color: var(--color-title) !important;
  }
  
  .svgtext:nth-of-type(2) text  {
	  font-size: 1em !important;	
  }
  
  .svgtext--1 text {
	fill: #fff;
  }
  
  .svgtext--2 text {
	fill: #8569c2;
  }
  
  .svgtext--3 text {
	font-size: 32px;
  }
  
  .svgtext--4 {
	position: absolute;
  }
  
  .svgtext--4 text {
	font-size: 48px;
	fill: #f9e9a4;
  }
  


@media screen and (min-width: 53em) {
  body.home .site {
    overflow: hidden;
  }

  .frame {
    position: fixed;
    text-align: left;
    z-index: 1000;
    top: 0;
    left: 0;
    display: grid;
    align-content: space-between;
    width: 100%;
    max-width: none;
    height: 100vh;
    padding: 3rem 4rem;
    pointer-events: none;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'header pagetitle menu' '... ... ...' '... ... demos';
  }

  .frame__pagetitle {
    grid-area: pagetitle;
    justify-self: center;
  }

  .frame__header {
    grid-area: header;
    justify-self: start;
  }

  .frame__nav a {
    margin: 0 1rem 0 0;
  }

  .frame__demos {
    margin: 0;
    grid-area: demos;
    justify-self: end;
  }

  .frame__menu {
    grid-area: menu;
    justify-self: end;
  }

  .frame a {
    pointer-events: auto;
  }

  .items {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
  }

  .menu {
    margin: 0 auto;
    max-width: 74vw;
    text-align: center;
    display: block;
  }

  .menu__item {
    margin: 3vh 3vw;
  }

  .menu__item-tag {
    margin: 0 0 0 0.25vw;
  }

  .menu__item-link {
    font-size: var(--font-size-menu-link);
  }
}
/*
 * Distorted Link Effect
 */
.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.menu__link {
  padding-bottom: 0rem;
  margin-bottom: 0.5rem;
  /*
      font-size: var(--font-size-menu);
      font-family: var(--font-menu);
      color: var(--color-menu);
  */
  font-weight: var(--font-weight-menu);
  position: relative;
  line-height: 1;
  text-transform: var(--ttransfrom-menu);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu__link:hover {
  color: var(--color-menu-hover);
  -webkit-text-fill-color: var(--color-menu-hover);
  text-fill-color: var(--color-menu-hover);
}

.demo-1 .menu__link,
.demo-6 .menu__link {
  /*
      letter-spacing: -0.85vw;
  */
  padding-right: 0.85vw;
}

.menu__link--outline {
  -webkit-text-stroke: var(--stroke-width-menu) var(--stroke-color-menu);
  text-stroke: var(--stroke-width-menu) var(--stroke-color-menu);
  -webkit-text-fill-color: var(--stroke-fill-menu);
  text-fill-color: var(--stroke-fill-menu);
  /*
      color: transparent;
  */
}

.menu__link-inner {
  display: block;
  position: relative;
  outline: 100px solid transparent;
}

.menu__link-deco {
  outline: 120px solid transparent;
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.menu--wave .menu__link-deco,
.menu--line .menu__link-deco,
.menu--linethrough .menu__link-deco,
.menu--twolines .menu__link-deco,
.menu--linebefore .menu__link-deco {
  bottom: 0;
  left: 0;
  height: var(--thickness-deco);
  width: 100%;
  background: var(--color-deco);
}

.menu--wave .menu__link {
  margin-bottom: 4rem;
}

.menu--wave .menu__link-deco {
  height: calc(100% + 2vw);
  width: calc(100% + 2vw);
  left: -1vw;
  top: -1vw;
  background: url(../img/waveline.svg) repeat-x 0% 50%;
  background-size: 20vw 40vw;
  z-index: -1;
  border: 12px solid var(--color-deco);
}

.menu--linethrough .menu__link-deco {
  bottom: calc(50% - (var(--thickness-deco) / 2));
}

.menu--twolines .menu__link-deco {
  height: 100%;
  background: none;
  border: var(--thickness-deco) solid var(--color-deco);
  border-right: 0;
  border-left: 0;
}

.menu--twolines .menu__link {
  padding: 0.95rem 0;
}

.menu--circle .menu__link-deco {
  left: 0;
  top: 43%;
  width: 8vw;
  height: 8vw;
  margin: -4vw 0 0 0;
  background: var(--color-deco);
  z-index: -1;
}

.menu--circle .menu__link-deco {
  border-radius: 50%;
}

.menu--circle .menu__link:hover .menu__link-inner {
  transform: translate3d(10vw, 0, 0);
}

.menu--linebefore .menu__link-deco {
  width: 6vw;
  bottom: calc(50% - (var(--thickness-deco) / 2));
}

.menu--linebefore .menu__link:hover .menu__link-inner {
  font-style: italic;
  transform: translateX(6.5vw);
}

.menu__link:hover .menu__link-deco {
  opacity: 1;
}

/*
 * Preview Content Transition
 */
.heading {
  /*	font-family: kudryashev-d-excontrast-sans, sans-serif;
  	font-weight: 300;
  	font-size: 6vw;
  	font-size: clamp(2rem, 6vw, 5rem);
  */
  color: var(--color-menu-link);
  font-family: var(--font-menu-link);
  font-weight: var(--font-weight-menu-link);
  font-size: 3rem;
  line-height: 1.1;
}

.heading .splitting .word,
.heading .splitting .char {
  display: flex;
}

.char-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.char {
  display: inline-block;
  will-change: transform;
}

.whitespace {
  padding: 0 10px;
}

.heading > span {
  display: flex;
}

.heading > span:first-child {
  font-size: 14vw;
  font-size: clamp(2rem, 14vw, 9rem);
}

.heading > span:nth-child(2) {
  margin-top: -4.5vw;
  text-transform: lowercase;
  color: var(--color-link);
  padding-left: 0.5em;
}

.content {
  color: #333;
  font-size: 1.2em;
}

.content .heading {
  margin-bottom: 5rem;
  font-size: 10vw;
  font-size: clamp(2rem, 10vw, 6rem);
}

.content .heading > span:first-child {
  font-size: 14vw;
  font-size: clamp(2rem, 14vw, 10rem);
}

.content__text {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 50%;
  min-width: 650px;
  /* will-change: transform; */
}

.content__text p {
  margin: 1.5rem 0;
}

.content__text img {
  max-width: 100%;
  margin: 4rem auto;
  display: block;
  border-radius: 50% !important;
}

.content__back {
  position: absolute;
  top: 2rem;
  left: 2rem;
  opacity: 0;
  cursor: pointer;
}

.content__article--open ~ .content__back {
  pointer-events: auto;
}

.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
}

.unbutton:focus {
  outline: none;
}

@media screen and (min-width: 53em) {
  .frame {
    width: 100%;
    /*
            text-align: left;
            display: flex;
            align-items: start;
    */
  }

  .frame__demos {
    margin-left: auto;
  }

  .frame > *:not(:last-child) {
    margin: 0 2rem 0 0;
    display: inline-block;
  }
}

/*# sourceMappingURL=style.css.map */
